<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新建合同</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/font.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/xadmin.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/newcontract.css" />
    <script type="text/javascript" src="__STATIC__/lib/layui/layui.js"></script>
    <script type="text/javascript" src="__STATIC__/js/xadmin.js"></script>
<body>
<div class="layui-card">
    <div class="layui-card-body" style="min-width: 797px;width: 84%; margin-left: 8%;">
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">新建合同<i class="layui-icon layui-colla-icon"></i></h2>
                <div class="layui-colla-content layui-show">
                    <form id="newContract" class="layui-form" action="">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">合同编号</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="contract_id" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">工程编号</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="project_id" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">合同分类</label>
                                <div class="layui-input-inline" id="classify">
                                    <ul>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="classify" lay-skin="primary" value="总院"/>总院</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="classify" lay-skin="primary" value="方案所"/>方案所</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="classify" lay-skin="primary" value="景观所"/>景观所</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="classify" lay-skin="primary" value="杭州分院"/>杭州分院</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="classify" lay-skin="primary" value="上海分院"/>上海分院</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="classify" lay-skin="primary" value="工业化所"/>工业化所</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="classify" lay-skin="primary" value="挂靠"/>挂靠</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="classify" lay-skin="primary" value="财务"/>财务</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="classify" lay-skin="primary" value="分包"/>分包</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="classify" lay-skin="primary" value="备案"/>备案</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="classify" lay-skin="primary" value="零星"/>零星</li>

                                        <button type="button" class="item-icon" onclick="itemAdd('classify', 'li','classify')">+</button></ul>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">签订时间</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" placeholder="日期" name="contract_signtime" id="start">
                                    <!-- <input type="text" name="contract_signtime" autocomplete="off" class="layui-input"> -->
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">工程名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="project_name" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">建设方</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="contract_constructor" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">代建方</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="contract_agent" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline" id="amount">
                                <label class="layui-form-label">合同额</label>
                                <div class="layui-input-inline">
                                    <input type="text" autocomplete="off" class="layui-input contract_amount">
                                    <button type="button" class="item-icon" onclick="itemAdd('amount','','contract_amount')">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline" id="range">
                                <label class="layui-form-label">设计范围</label>
                                <div class="layui-input-inline">
                                    <input type="text" autocomplete="off" class="layui-input contract_design">
                                    <button type="button" class="item-icon" onclick="itemAdd('range','','contract_design')">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline" id="unitprice">
                                <label class="layui-form-label">设计单价</label>
                                <div class="layui-input-inline">
                                    <ul>
                                        <li class="input-items">
                                            <input type="text" autocomplete="off" class="layui-input unitprice" placeholder="内容"></li>
                                        <li class="input-items">
                                            <input type="text" autocomplete="off" class="layui-input unitprice" placeholder="单价"></li>
                                        <li class="input-items">
                                            <input type="text" autocomplete="off" class="layui-input unitprice" placeholder="下浮率"></li>
                                        <li class="input-items">
                                            <input type="text" autocomplete="off" class="layui-input unitprice"placeholder="说明"></li>
                                    </ul>
                                    <button type="button" class="item-icon" onclick="itemAdd('unitprice')">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">设计内容</label>
                                <div class="layui-input-inline" id="content">
                                    <ul>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="contract_content" lay-skin="primary">总包</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="contract_content" lay-skin="primary"/>建筑</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="contract_content" lay-skin="primary"/>结构</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="contract_content" lay-skin="primary"/>给排水</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="contract_content" lay-skin="primary"/>暖通</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="contract_content" lay-skin="primary"/>电气</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="contract_content" lay-skin="primary"/>弱电</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="contract_content" lay-skin="primary"/>管网</li>
                                        <button type="button" class="item-icon" onclick="itemAdd('content', 'li','contract_content')">+</button>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">设计阶段</label>
                                <div class="layui-input-inline" id="stage">
                                    <ul>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="contract_phase" lay-skin="primary" value="咨询"/>咨询</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="contract_phase" lay-skin="primary" value="强排"/>强排</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="contract_phase" lay-skin="primary" value="方案"/>方案</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="contract_phase" lay-skin="primary" value="初步"/>初步</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="contract_phase" lay-skin="primary" value="施工图"/>施工图</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="contract_phase" lay-skin="primary" value="套图"/>套图</li>
                                        <li class="chechboxes">
                                            <input type="checkbox" class="contract_phase" lay-skin="primary" value="其他"/>其他</li>
                                        <button type="button" class="item-icon" onclick="itemAdd('stage', 'li','contract_phase')">+</button>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">经办人</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="contract_operator" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">项目负责人</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="contract_projectleader" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">审批人</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="contract_approver" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">备注</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="contract_remarks" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="layui-input-block">
                        <a class="layui-btn" href="javascript:;" onclick="xadmin.open('新增字段','detailAdd',800,600)">新增字段</a>
                        <button class="layui-btn" onclick="submitContract()">新建合同</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    console.log(window.location.href);
    layui.use(['laydate', 'form'],
        function() {
            var laydate = layui.laydate;
            var form = layui.form;
            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
            });
            // console.log(form);
            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
            });
        });
    function itemAdd(obj, type,className) {
        if(type) {
            if (className == "classify" && document.getElementsByClassName("classify").length>=12) {
                layer.alert("只能添加一个自定义哦！");
                return 0;
            }
            if (className == "contract_phase" && document.getElementsByClassName("contract_phase").length>=8) {
                layer.alert("只能添加一个自定义哦！");
                return 0;
            }
            var item = document.createElement("li");
            item.className = "chechboxes input-add";
            item.innerHTML = '<input type="text" class="'+className+'"><button type="button" class="iconfont item-icon" onclick="itemDel(this)">-</button>';
            document.getElementById(obj).appendChild(item);
        }
        else if (obj == 'unitprice') {
            var item = document.createElement("div");
            item.className = "layui-input-inline";
            item.innerHTML ='<ul><li class="input-items"><input type="text" autocomplete="off" class="layui-input unitprice" placeholder="内容"></li><li class="input-items"><input type="text" autocomplete="off" class="layui-input unitprice" placeholder="单价"></li><li class="input-items"><input type="text" autocomplete="off" class="layui-input unitprice" placeholder="下浮率"></li><li class="input-items"><input type="text" autocomplete="off" class="layui-input unitprice" placeholder="说明"></li></ul>'
                +'<button type="button" class="iconfont item-icon" onclick="itemDel(this)" href="javascript:;">-</button>';
            document.getElementById(obj).appendChild(item);
        }
        else {
            var item = document.createElement("div");
            item.className = "layui-input-inline";
            item.innerHTML = '<input type="text" autocomplete="off" class="layui-input '+className+'">'+'<button type="button" class="iconfont item-icon" onclick="itemDel(this)" href="javascript:;">-</button>';
            document.getElementById(obj).appendChild(item);
                ;
        }
    }
    var itemDel = function(e) {
        $(e).parent().remove();
    }
    function submitContract(){
        var data = $('#newContract').serialize();
// 分离 - 合同分类，并转存,找出选择出来的单一对象
        var contract_classify = document.getElementsByClassName("classify");
        console.log(contract_classify[0].checked);
        console.log(contract_classify[0].value);
        for (var i =0; i < contract_classify.length; i++) {

            if(contract_classify[i].checked == true && i<11)
               {

                data = data + "&contract_type="+contract_classify[i].value;
                break;
               }
            else if(i>=11)
            {
                data = data+"&contract_type="+contract_classify[i].value;
            }
            else
                continue;
          
        }
        
// 分离 - 设计单价，并转存
        var contract_unitprice = document.getElementsByClassName("unitprice");
        var contract_unitpriceContent = "";
        for (var i =0; i < contract_unitprice.length; i++) {
            if (i%4==0)
                contract_unitpriceContent = contract_unitpriceContent +"^"+contract_unitprice[i].value;
            else
                contract_unitpriceContent = contract_unitpriceContent +"*"+contract_unitprice[i].value;
        }
        data = data + "&contract_unitprice="+contract_unitpriceContent;
// 分离 - 设计内容，并转存
    var contract_content = document.getElementsByClassName("contract_content");
    var contract_contentContent = "";
    for (var i =0; i < contract_content.length; i++) {
            if(contract_content[i].type == "checkbox")
                contract_contentContent = contract_contentContent +"*"+contract_content[i].checked;
            else
                contract_contentContent = contract_contentContent +"*"+contract_content[i].value;
        }
        data = data + "&contract_content="+contract_contentContent;
// 分离 - 设计阶段，并转存
    var contract_phase = document.getElementsByClassName("contract_phase");
    for (var i =0; i < contract_phase.length; i++) {
        console.log(contract_phase[i].value);
            if(contract_phase[i].checked == true && i<7)
               {
                data = data + "&contract_phase="+contract_phase[i].value;
                break;
               }
            else if(i>=7)
            {
                data = data+"&contract_phase="+contract_phase[i].value;
            }
        }
// 分离 - 设计范围，并转存
    var contract_design = document.getElementsByClassName("contract_design");
    var contract_designContent = "";
    for (var i =0; i < contract_design.length; i++) {
            contract_designContent = contract_designContent +"*"+contract_design[i].value;
        }
        data = data + "&contract_design="+contract_designContent;
// 分离 - 合同额，并转存
    var contract_amount = document.getElementsByClassName("contract_amount");
    var contract_amountContent = "";
    for (var i =0; i < contract_amount.length; i++) {
        if(i==0)
            contract_amountContent = contract_amountContent + contract_amount[i].value;
        else
            contract_amountContent = contract_amountContent +"/"+contract_amount[i].value;
        }
        data = data + "&contract_amount="+contract_amountContent;


        // console.log(contract_classifyContent);
        // console.log(contract_unitpriceContent);
        // console.log(contract_contentContent);
        console.log(data);

        $.ajax({
            //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "{:url('index/contractAdd')}",//url
                data: data,
                success: function (result) {
                    console.log(result);//打印服务端返回的数据(调试用)
                    if (result.status == 1) {
                        alert("SUCCESS");
                    }
                    else
                        alert("新建合同失败!");
                },
                error : function() {
                    alert("异常！");
                }
            });
    }
</script>
</body>
</html>