<!DOCTYPE html>
<html class="x-admin-sm">
<head>
	<meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/font.css" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/project.css" />

	<script type="text/javascript" src="__STATIC__/lib/layui/layui.js"></script>
	<script type="text/javascript" src="__STATIC__/js/xadmin.js"></script>
</head>
<body>
	<div class="searchcard">
		<div class="layui-card">
			<div class="searchbar">
				<div class="search-text">
					<input type="text" name="search" class="search-area" placeholder="输入关键字搜索">
					<p class="iconfont">&#xe6ac;</p>
				</div>
				<div class="search-button">
					<a href=""><p>搜索</p></a>
				</div>
			</div>
	        <div class="layui-card-body" style="min-width: 797px;width: 84%; margin-left: 8%;">
	            <div class="layui-collapse">
	                <div class="layui-colla-item">
	                <h2 class="layui-colla-title">条件筛选<i class="layui-icon layui-colla-icon"></i></h2>
	                <div class="layui-colla-content">
	                	<form class="layui-form" action="">
	                      <div class="layui-form-item">
	                        <div class="layui-inline" style="width: 100%;">
	                          <label class="layui-form-label">工程号</label>
	                          <div class="layui-input-inline" style="width: 40%;">
	                            <input type="text" name="price_min" autocomplete="off" class="layui-input">
	                          </div>
	                        </div>
	                      </div>
	                      <div class="layui-form-item">
	                        <div class="layui-inline" style="width: 100%;">
	                          <label class="layui-form-label">项目名称</label>
	                          <div class="layui-input-inline" style="width: 40%;">
	                            <input type="text" name="price_min" autocomplete="off" class="layui-input">
	                          </div>
	                        </div>
	                      </div>
	                      <div class="layui-form-item">
	                        <div class="layui-inline" style="width: 100%;">
	                          <label class="layui-form-label">发包人</label>
	                          <div class="layui-input-inline" style="width: 40%;">
	                            <input type="text" name="price_min" autocomplete="off" class="layui-input">
	                          </div>
	                        </div>
	                      </div>
	                      <div class="layui-form-item">
	                        <div class="layui-inline" style="width: 100%;">
	                          <label class="layui-form-label">代建方</label>
	                          <div class="layui-input-inline" style="width: 40%;">
	                            <input type="text" name="price_min" autocomplete="off" class="layui-input">
	                          </div>
	                        </div>
	                      </div>
	                      <div class="layui-form-item">
	                        <div class="layui-inline" style="width: 100%;">
	                          <label class="layui-form-label">项目负责人</label>
	                          <div class="layui-input-inline" style="width: 40%;">
	                            <input type="text" name="price_min" autocomplete="off" class="layui-input">
	                          </div>
	                        </div>
	                      </div>
	                	</form>
	                <div class="layui-input-block">
                    	<button class="layui-btn">搜索</button>
                    </div>
	                </div>
	              </div>
	            </div>
	        </div>
			<div class="searchtable">
				<div class="layui-card-body layui-table-body layui-table-main">
					<table class="layui-table layui-form" id="table">
						<thead>
						<th>工程号</th>
						<th>项目名称</th>
						<th>发包人</th>
						<th>代建方</th>
						<th>项目负责人</th>
						<th>详情</th>
						</thead>
					<tbody>
					{volist name='orderList' id='vo'}
					<tr class="text-c">
						{volist name='order_column' id='voi'}
						<td>{$vo[$voi]}</td>
						{/volist}
						<td><a href="" onclick="detail_show(this,'{:url("index/project_details",["id"=>$vo["project_id"]])}')" >点击详情</a></td>
					</tr>
					{/volist}

					</tbody>
				</table>
			</div>
			</div>
			</div>
		</div>
	</div>
<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.js"></script>
<script>
	var showMenu = 1;
	function searchscreen() {
	  if (showMenu == 1) {
	    document.getElementById('smenu').style.display="inline-block";
	    showMenu = -1;
	  } else {
	    document.getElementById('smenu').style.display="none";
	    showMenu = 1;
	  } 
	}
	function detail_show(obj,url,id){
			obj.href=url+'?id='+id;
	}
	$('button').click(function() {
		content = {};
		var oInput = $('input');
		content.project_agent = oInput[0].value;
		content.project_id = oInput[1].value;
		content.project_name = oInput[2].value;
		content.project_contractor = oInput[3].value;
		content.project_leader = oInput[4].value;
		$.get("{:url('index/ProjectSelect')}",content, function(data){
			console.log(data);
			var body;
			for(var i = 0; i < data.length; i++){
				body += '<tr class="text-c"><td>'+data[i]['project_id']+'</td><td>'+data[i]['project_name']+'</td><td>'+data[i]['project_contractor']+'</td><td>'+data[i]['project_agent']+'</td><td>'+data[i]['project_leader']+'</td><td><a onclick="detail_show(this,\'{:url("index/project_details")}\', \''+data[i]['project_id']+'\')">点击详情</a></td></tr>';
			}
			$('tbody').html(body);

		});
});
</script>
</body>
</html>