<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>details</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/details.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/font.css" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/xadmin.css" />
	<script type="text/javascript" src="__STATIC__/lib/layui/layui.js"></script>
	<script type="text/javascript" src="__STATIC__/js/xadmin.js"></script>
</head>
<body>
<div class="card">
	<div class="layui-card">
		<div class="back-pro">
			<a href="javascript:history.go(-1)">返回</a>
		</div>
		<div class="ground">
			<ul>
				<?php for($i = 0; $i < count($note); $i++) {?>
				<li>
					<p class="field">{$note[$i]}</p>
					<?php if($i == 9) {?>
					<div class="content" id="designer"></div>
					<a title="编辑" href="javascript:;" class="edit" onclick="member_edit('详情修改','{:url("index/detailEdit")}', '{$content[0]}', '{$column[$i]}', '{$note[$i]}', '{$content[$i]}', '{$i}')"><i class="layui-icon" style="color: #2196f3;"></i></a>
					<?php } else if($i == 10) {?>
					<div class="content" id="draw_plan"></div>
					<a title="编辑" href="javascript:;" class="edit" onclick="member_edit('详情修改','{:url("index/detailEdit")}', '{$content[0]}', '{$column[$i]}', '{$note[$i]}', '{$content[$i]}', '{$i}')"><i class="layui-icon" style="color: #2196f3;"></i></a>
					<?php } else {?>
					<div class="content">{$content[$i]}</div>
					<a title="编辑" href="javascript:;" class="edit" onclick="member_edit('详情修改','{:url("index/detailEdit")}', '{$content[0]}', '{$column[$i]}', '{$note[$i]}', '{$content[$i]}', '{$i}')"><i class="layui-icon" style="color: #2196f3;"></i></a>
					<?php } ?>
				</li>
				<?php } ?>
			</ul>
			<div class="layui-input-block">
				<a class="layui-btn" href="javascript:;" onclick="member_edit('新增字段','{:url("index/detailAdd")}')">新增字段</a>
				<!-- <a class="layui-btn" id="delAll">清空</a>
				<a class="layui-btn" onclick="saveAll()">保存</a> -->
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.js"></script>
<script type="text/javascript">
var aInfo = JSON.parse('<?php echo json_encode($project_infoes)?>');

document.getElementById('designer').innerHTML = showTable(aInfo[0]);
document.getElementById('draw_plan').innerHTML = showTable(aInfo[1]);

function showTable(array) {
	var ners = "<table width='100%'>";
	for (var i = 0; i < array.length; i++) {
		ners += "<tr margin-button='1px'>";
		for (var key in array[i]) {
			ners += "<td>"+ array[i][key] +"</td>";
		}
		ners += "</tr>";
	}
	ners += "</table>";
	return ners;
}

function member_edit(obj, url, id, column, chinese, content, index) {
	if (index == "9") {
		sessionStorage.setItem("designer", JSON.stringify(aInfo[0]));
	}
	else if (index == "10") {
		sessionStorage.setItem("drawplan", JSON.stringify(aInfo[1]));
	}
	url = url +"?id="+id+"&column="+column+"&chinese="+chinese+"&content="+content+"&index="+index;
	xadmin.open(obj, url);
}

// function member_del(obj,id){
// 	layer.confirm('确认要删除吗？',function(index){
// 		//发异步删除数据
// 		$(obj).parents("li").innerText = "";
// 		layer.msg('已删除!',{icon:1,time:1000});
// 	});
// }

</script>
</body>
</html>