
<!--_menu 作为公共模版分离出去-->
<aside class="Hui-aside">

    <div class="menu_dropdown bk_2">
        <dl id="menu-record">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 游戏纪录管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>

                    <li><a href="{:url('index/recordList')}" title="游戏纪录列表">游戏纪录列表</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-user">
            <dt><i class="Hui-iconfont">&#xe62d;</i>用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('index/userList')}" title="用户列表">用户列表</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-game">
            <dt><i class="Hui-iconfont">&#xe62d;</i>游戏管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>

                    <li><a href="{:url('index/gameList')}" title="游戏列表">游戏列表</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-mall">
            <dt><i class="Hui-iconfont">&#xe62d;</i>商城管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('index/mallList')}" title="商品列表">商品列表</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-spots">
            <dt><i class="Hui-iconfont">&#xe62d;</i>景点管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('index/spotsList')}" title="景点列表">景点列表</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-wzu">
            <dt><i class="Hui-iconfont">&#xe62d;</i>温大景点管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('index/wzuList')}" title="温大景点列表">温大景点列表</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-order">
            <dt><i class="Hui-iconfont">&#xe62d;</i>订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('index/orderList')}" title="订单列表">订单列表</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('index/adminList')}" title="管理员列表">管理员列表</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-data">
            <dt><i class="Hui-iconfont">&#xe61a;</i> 数据统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('index/charts1')}" title="日访问量">日访问量</a></li>
                    <li><a href="{:url('index/charts2')}" title="用户使用地点">用户使用地点</a></li>
                    <li><a href="{:url('index/charts3')}" title="景点位置">景点位置</a></li>
                </ul>
            </dd>
        </dl>

    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->