
<!--_menu 作为公共模版分离出去-->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="工程管理">&#xe6b8;</i>
                    <cite>工程管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('工程项目','project.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>工程项目</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="合同管理">&#xe723;</i>
                    <cite>合同管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('新建合同','newcontract.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>新建合同</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('查看合同','orderlist1.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>查看合同</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('台账管理','taizhangguanli.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>台账管理</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="招投标项目">&#xe6bf;</i>
                    <cite>招投标项目</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('招投标项目','zhaotoubiao.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>招投标项目</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="人员管理">&#xe726;</i>
                    <cite>人员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('管理员列表','adminlist.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>管理员列表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('角色管理','personnel.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>员工信息</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('权限管理','powerAdmin.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>权限管理</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="客户统计">&#xe6ce;</i>
                    <cite>客户统计</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('客户总览','kehu.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>客户总览</cite></a>
                    </li>
                   
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="产值">&#xe6b4;</i>
                    <cite>产值</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('工程产值','gongchengchanzhi.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>工程产值</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('院产值','yuanchanzhi.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>院产值</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('个人产值','gerenchanzhi.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>个人产值</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="收款确认函">&#xe6ab;</i>
                    <cite>收款确认函</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('收款确认函','shoukuanquerenhan.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>收款确认函</cite></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!--/_menu 作为公共模版分离出去-->