<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>details</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/details.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/font.css" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/xadmin.css" />
	<script type="text/javascript" src="__STATIC__/lib/layui/layui.js"></script>
	<script type="text/javascript" src="__STATIC__/js/xadmin.js"></script>
</head>
<body>
<div class="card">
		
	<div class="layui-col-md12">
        <div class="layui-card" >
        	<div class="back-pro" style="background-color: #fff;padding-bottom: 10px;"><a href="javascript:history.go(-1)">返回</a></div>
            <div class="layui-card-body ">
            	<!-- 1 -->
            	<div class="layui-collapse" lay-filter="test">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">基本信息<i class="layui-icon layui-colla-icon"></i></h2>
                        <div class="layui-colla-content">
		                    <table class="layui-table">
		                        <tbody>
		                            <tr>
		                                <th>工程号</th>
		                                <td>{$drawplanList['project_id']}</td>
		                                <td><a title="编辑" href="javascript:;" class="edit" onclick="member_edit('详情修改','{:url("index/detailEdit")}')"><i class="layui-icon" style="color: #2196f3;"></i></a></td>
		                                </tr>
		                            <tr>
		                                <th>工程名称</th>
		                                <td>{$drawplanList['project_name']}</td>
		                                <td><a title="编辑" href="javascript:;" class="edit" onclick="member_edit('详情修改','{:url("index/detailEdit")}')"><i class="layui-icon" style="color: #2196f3;"></i></a></td>
		                            </tr>
		                            <tr>
		                                <th>项目名称</th>
		                                <td>{$drawplanList['project_xname']}</td>
		                                <td><a title="编辑" href="javascript:;" class="edit" onclick="member_edit('详情修改','{:url("index/detailEdit")}')"><i class="layui-icon" style="color: #2196f3;"></i></a></td>
		                            </tr>
		                            <tr>
		                            	<th>专业</th>
		                                <td>{$drawplanList['drawplan_major']}</td>
		                                <td><a title="编辑" href="javascript:;" class="edit" onclick="member_edit('详情修改','{:url("index/detailEdit")}')"><i class="layui-icon" style="color: #2196f3;"></i></a></td>
		                            </tr>
		                            <tr>
		                                <th>阶段</th>
		                                <td>{$drawplanList['drawplan_phase']}</td>
		                                <td><a title="编辑" href="javascript:;" class="edit" onclick="member_edit('详情修改','{:url("index/detailEdit")}')"><i class="layui-icon" style="color: #2196f3;"></i></a></td>
		                            </tr>
		                            <tr>
		                                <th>图数</th>
		                                <td>{$drawplanList['drawplan_number']}</td>
		                                <td><a title="编辑" href="javascript:;" class="edit" onclick="member_edit('详情修改','{:url("index/detailEdit")}')"><i class="layui-icon" style="color: #2196f3;"></i></a></td>
		                            </tr>
		                            <tr>
		                            	<th>工程概况</th>
		                                <td>{$drawplanList['drawplan_survey']}</td>
		                                <td><a title="编辑" href="javascript:;" class="edit" onclick="member_edit('详情修改','{:url("index/detailEdit")}')"><i class="layui-icon" style="color: #2196f3;"></i></a></td>
		                            </tr>
		                            <tr>
		                            	<th>日期</th>
		                                <td>{$drawplanList['drawplan_date']}</td>
		                                <td><a title="编辑" href="javascript:;" class="edit" onclick="member_edit('详情修改','{:url("index/detailEdit")}')"><i class="layui-icon" style="color: #2196f3;"></i></a></td>
		                            </tr>
		                            <tr>
		                                <th>备注</th>
		                                <td>{$drawplanList['drawplan_remarks']}</td>
		                                <td><a title="编辑" href="javascript:;" class="edit" onclick="member_edit('详情修改','{:url("index/detailEdit")}')"><i class="layui-icon" style="color: #2196f3;"></i></a></td>
		                            </tr>
		                        </tbody>
		                    </table>
                        </div>
                    </div>
                </div>
				<!-- 2 -->
				<div class="layui-collapse" lay-filter="test">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">参与人员<i class="layui-icon layui-colla-icon"></i></h2>
                        <div class="layui-colla-content">
		                    <table class="layui-table">
		                        <tbody>
		                            <tr>
		                                <th></th>
		                                <th>工程</th>
		                                <th>工种</th>
		                                <th>设计</th>
		                                <th>制图</th>
		                                <th>校对</th>
		                                <th>审核</th>
		                                <th>审定</th>
		                            </tr>
		                            <tr>
		                                <th>参与人员</th>
		                                <td>{$drawpdesignerList['drawplan_project1']}</td>
		                                <td>{$drawpdesignerList['drawplan_type1']}</td>
		                                <td>{$drawpdesignerList['drawplan_designer1']}</td>
		                                <td>{$drawpdesignerList['drawplan_drafting1']}</td>
		                                <td>{$drawpdesignerList['drawplan_check1']}</td>
		                                <td>{$drawpdesignerList['drawplan_verify1']}</td>
		                                <td>{$drawpdesignerList['drawplan_authorize1']}</td>
		                                <td><a title="编辑" href="javascript:;" class="edit" onclick="member_edit('详情修改','{:url("index/detailEdit")}')"><i class="layui-icon" style="color: #2196f3;"></i></a></td>
		                            </tr>
		                            <tr>
		                                <th>实际参与人员</th>
		                                <td>{$drawpdesignerList['drawplan_project2']}</td>
		                                <td>{$drawpdesignerList['drawplan_type2']}</td>
		                                <td>{$drawpdesignerList['drawplan_designer2']}</td>
		                                <td>{$drawpdesignerList['drawplan_drafting2']}</td>
		                                <td>{$drawpdesignerList['drawplan_check2']}</td>
		                                <td>{$drawpdesignerList['drawplan_verify2']}</td>
		                                <td>{$drawpdesignerList['drawplan_authorize2']}</td>
		                                <td><a title="编辑" href="javascript:;" class="edit" onclick="member_edit('详情修改','{:url("index/detailEdit")}')"><i class="layui-icon" style="color: #2196f3;"></i></a></td>
		                            </tr>
		                            <tr>
		                                <th>备注</th>
		                                <td>{$drawpdesignerList['project_remarks']}</td>
		                                <td>{$drawpdesignerList['type_remarks']}</td>
		                                <td>{$drawpdesignerList['designer_remarks']}</td>
		                                <td>{$drawpdesignerList['drafting_remarks']}</td>
		                                <td>{$drawpdesignerList['check_remarks']}</td>
		                                <td>{$drawpdesignerList['verify_remarks']}</td>
		                                <td>{$drawpdesignerList['authorize_remarks']}</td>
		                                <td><a title="编辑" href="javascript:;" class="edit" onclick="member_edit('详情修改','{:url("index/detailEdit")}')"><i class="layui-icon" style="color: #2196f3;"></i></a></td>
		                            </tr>
		                        </tbody>
		                    </table>
                        </div>
                    </div>
                </div>
            </div>
    	</div>
	</div>
<script type="text/javascript">

function member_edit(obj, url) {
	xadmin.open(obj, url);
}

</script>
</body>
</html>