<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新建出图计划</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/font.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/xadmin.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/newcontract.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/common.css" />
    <script type="text/javascript" src="__STATIC__/lib/layui/layui.js"></script>
    <script type="text/javascript" src="__STATIC__/js/xadmin.js"></script>
    <script type="text/javascript" src="__STATIC__/js/domain.js"></script>
    <style type="text/css">
        .layui-form-label{
            width: 120px;
        }
        .td_input{
            background-color: transparent;
            border: none;
        }
        .text-c input{
            width: 100%;
        }
    </style>
<body>
<div class="layui-card">
    <div class="layui-card-body" style="min-width: 797px;width: 84%; margin-left: 8%;">
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">新建出图<i class="layui-icon layui-colla-icon"></i></h2>
                <div class="layui-colla-content layui-show">
                    <form id="newContract" class="layui-form" action="">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label"><span class="x-red">*</span>工程号</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="project_id" lay-verify="required" autocomplete="off" class="layui-input" onchange="insertData(this.value)">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label"><span class="x-red">*</span>工程名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="project_name" name="project_name" lay-verify="required" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">发包人</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="project_contractor" name="project_contractor" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">代建人</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="project_agent" name="project_agent" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label"><span class="x-red">*</span>单体名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="entry_name" lay-verify="required" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label"><span class="x-red">*</span>专业</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="drawplan_major" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">阶段</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="drawplan_phase" lay-verify="required" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">工程概况</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="drawplan_survey" name="drawplan_survey" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label"><span class="x-red">*</span>出图日期</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input"  autocomplete="off" placeholder="日期" name="drawing_time" id="start">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">备注</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="drawplan_remarks" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label"><span class="x-red">*</span>图号</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="figure_number" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div  class="layui-table-body layui-table-main" style="margin: 5px;">
                                <table class="layui-table layui-form" id="table">
                                    <thead>
                                        <th>编号</th>
                                        <th>图纸尺寸</th>
                                        <th>蓝图数量</th>
                                        <th>蓝图单价（元/张）</th>
                                        <th>硫酸图数量</th>
                                        <th>硫酸图单价（元/张）</th>
                                        <th>文本制作数量</th>
                                        <th>文本制作单价（元/张）</th>
                                    </thead>
                                    <tbody>
                                        {volist name='orderList' id='vo'}
                                        <tr class="text-c">
                                            <td>{$vo.id}</td>
                                            <td>{$vo.drawing_size}</td>
                                            <td><input type="text" class="td_input" name="blueprint_{$vo.drawing_size}" onchange="showPrice(this.value, this.name, {$vo.drawing_blueprint})"></td>
                                            <td><input type="text" class="td_input" id="blueprint_{$vo.drawing_size}" name="price_blueprint_{$vo.drawing_size}" onchange="changePrice(this.value,'blueprint_{$vo.drawing_size}')"></td>
                                            <td><input type="text" class="td_input" name="sulphuric_acid_diagram_{$vo.drawing_size}" onchange="showPrice(this.value, this.name, {$vo.drawing_sulphuric_acid_diagram})"></td>
                                            <td><input type="text" class="td_input" id="sulphuric_acid_diagram_{$vo.drawing_size}" name="price_sulphuric_acid_diagram_{$vo.drawing_size}" onchange="changePrice(this.value,'sulphuric_acid_diagram_{$vo.drawing_size}')"></td>
                                            <td><input type="text" class="td_input" name="text_production_{$vo.drawing_size}" onchange="showPrice(this.value, this.name, {$vo.drawing_text_production})"></td>
                                            <td><input type="text" class="td_input" id="text_production_{$vo.drawing_size}" name="price_text_production_{$vo.drawing_size}" onchange="changePrice(this.value,'text_production_{$vo.drawing_size}')"></td>
                                        </tr>
                                        {/volist}
                                    </tbody>

                                </table>
                    </div>
                    </div>
                    <div><p style="text-align: left;">合计: <span id="summary" style="margin-left:10px;">0</span>元</p></div>
                        <div class="layui-collapse" lay-filter="test">
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">参与人员<i class="layui-icon layui-colla-icon"></i></h2>
                                <div class="layui-colla-content">
                                    <table class="layui-table" style="table-layout: fixed;width: 100%;">
                                            <thead>
                                                <th>工程</th>
                                                <th>工种</th>
                                                <th>设计</th>
                                                <th>制图</th>
                                                <th>校对</th>
                                                <th>审核</th>
                                                <th>审定</th>
                                            </thead>
                                            <tbody>
                                                <tr class="text-c">
                                                <td>
                                                    <input type="text" class="td_input" autocomplete="off" name="drawplan_project1" onblur="javascript:{lose('drawplan_project1');document.getElementById('project2').value = this.value;}" onfocus="get('drawplan_project1')" oninput="changeName(this.value,'drawplan_project1')">
                                                    <ul id="drawplan_project1" class="ulWidth_full"></ul>
                                                </td>
                                                <td>
                                                    <input type="text" class="td_input" autocomplete="off" name="drawplan_type1" onblur="javascript:{lose('drawplan_type1');document.getElementById('type2').value = this.value;}" onfocus="get('drawplan_type1')" oninput="changeName(this.value,'drawplan_type1')">
                                                    <ul id="drawplan_type1" class="ulWidth_full"></ul>
                                                </td>
                                                <td>
                                                    <input type="text" class="td_input" autocomplete="off" name="drawplan_designer1" onblur="javascript:{lose('drawplan_designer1');document.getElementById('designer2').value = this.value;}" onfocus="get('drawplan_designer1')" oninput="changeName(this.value,'drawplan_designer1')">
                                                    <ul id="drawplan_designer1" class="ulWidth_full"></ul>
                                                </td>
                                                <td>
                                                    <input type="text" class="td_input" autocomplete="off" name="drawplan_drafting1" onblur="javascript:{lose('drawplan_drafting1');document.getElementById('drafting2').value = this.value;}" onfocus="get('drawplan_drafting1')" oninput="changeName(this.value,'drawplan_drafting1')">
                                                    <ul id="drawplan_drafting1" class="ulWidth_full"></ul>
                                                </td>
                                                <td>
                                                    <input type="text" class="td_input" autocomplete="off" name="drawplan_check1" onblur="javascript:{lose('drawplan_check1');document.getElementById('check2').value = this.value;}" onfocus="get('drawplan_check1')" oninput="changeName(this.value,'drawplan_check1')">
                                                    <ul id="drawplan_check1" class="ulWidth_full"></ul>
                                                </td>
                                                <td>
                                                    <input type="text" class="td_input" autocomplete="off" name="drawplan_verify1" onblur="javascript:{lose('drawplan_verify1');document.getElementById('verify2').value = this.value;}" onfocus="get('drawplan_verify1')" oninput="changeName(this.value,'drawplan_verify1')">
                                                    <ul id="drawplan_verify1" class="ulWidth_full"></ul>
                                                </td>
                                                <td>
                                                    <input type="text" class="td_input" autocomplete="off" name="drawplan_authorize1" onblur="javascript:{lose('drawplan_authorize1');document.getElementById('authorize2').value = this.value;}" onfocus="get('drawplan_authorize1')" oninput="changeName(this.value,'drawplan_authorize1')">
                                                    <ul id="drawplan_authorize1" class="ulWidth_full"></ul>
                                                </td>
                                                </tr>
                                            </tbody>
                                    </table>      
                                </div>
                            </div>
                        </div>

                        <div class="layui-collapse" lay-filter="test">
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">实际参与人员<i class="layui-icon layui-colla-icon"></i></h2>
                                <div class="layui-colla-content">
                                    <table class="layui-table" style="table-layout: fixed;width: 100%;">
                                            <thead>
                                                <th>工程</th>
                                                <th>工种</th>
                                                <th>设计</th>
                                                <th>制图</th>
                                                <th>校对</th>
                                                <th>审核</th>
                                                <th>审定</th>
                                            </thead>
                                            <tbody>
                                                <tr class="text-c">
                                                <td>
                                                    <input type="text" id="project2" class="td_input" autocomplete="off" name="drawplan_project2" onblur="lose('drawplan_project2')" onfocus="get('drawplan_project2')" oninput="changeName(this.value,'drawplan_project2')">
                                                    <ul id="drawplan_project2" class="ulWidth_full"></ul>
                                                </td>
                                                <td>
                                                    <input type="text" id="type2" class="td_input" autocomplete="off" name="drawplan_type2" onblur="lose('drawplan_type2')" onfocus="get('drawplan_type2')" oninput="changeName(this.value,'drawplan_type2')">
                                                    <ul id="drawplan_type2" class="ulWidth_full"></ul>
                                                </td>
                                                <td>
                                                    <input type="text" id="designer2" class="td_input" autocomplete="off" name="drawplan_designer2" onblur="lose('drawplan_designer2')" onfocus="get('drawplan_designer2')" oninput="changeName(this.value,'drawplan_designer2')">
                                                    <ul id="drawplan_designer2" class="ulWidth_full"></ul>
                                                </td>
                                                <td>
                                                    <input type="text" id="drafting2" class="td_input" autocomplete="off" name="drawplan_drafting2" onblur="lose('drawplan_drafting2')" onfocus="get('drawplan_drafting2')" oninput="changeName(this.value,'drawplan_drafting2')">
                                                    <ul id="drawplan_drafting2" class="ulWidth_full"></ul>
                                                </td>
                                                <td>
                                                    <input type="text" id="check2" class="td_input" autocomplete="off" name="drawplan_check2" onblur="lose('drawplan_check2')" onfocus="get('drawplan_check2')" oninput="changeName(this.value,'drawplan_check2')">
                                                    <ul id="drawplan_check2" class="ulWidth_full"></ul>
                                                </td>
                                                <td>
                                                    <input type="text" id="verify2" class="td_input" autocomplete="off" name="drawplan_verify2" onblur="lose('drawplan_verify2')" onfocus="get('drawplan_verify2')" oninput="changeName(this.value,'drawplan_verify2')">
                                                    <ul id="drawplan_verify2" class="ulWidth_full"></ul>
                                                </td>
                                                <td>
                                                    <input type="text" id="authorize2" class="td_input" autocomplete="off" name="drawplan_authorize2" onblur="lose('drawplan_authorize2')" onfocus="get('drawplan_authorize2')" oninput="changeName(this.value,'drawplan_authorize2')">
                                                    <ul id="drawplan_authorize2" class="ulWidth_full"></ul>
                                                </td>
                                                </tr>
                                                <thead>
                                                <th>工程备注</th>
                                                <th>工种备注</th>
                                                <th>设计备注</th>  
                                                <th>制图备注</th>
                                                <th>校对备注</th>
                                                <th>审核备注</th>
                                                <th>审定备注</th>
                                                </thead>
                                                <tr class="text-c">
                                                <td><input type="text" class="td_input" autocomplete="off" name="project_remarks"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" name="type_remarks"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" name="designer_remarks"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" name="drafting_remarks"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" name="check_remarks"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" name="verify_remarks"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" name="authorize_remarks"></td>
                                                </tr>
                                            </tbody>
                                    </table>      
                                </div>
                            </div>
                        </div>
                        <div class="layui-collapse" lay-filter="test">
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">经济指标<i class="layui-icon layui-colla-icon"></i></h2>
                                <div class="layui-colla-content">
                                    <table class="layui-table" style="table-layout: fixed;width: 100%;">
                                            <thead>
                                                <th>地上面积(含架空)/㎡</th>
                                                <th>地下面积(含人防)/㎡</th>
                                                <th>其中人防/㎡</th>
                                                <th>层数/层</th>
                                                <th>高度/m</th>
                                                <th>类别</th>
                                                <th>备注</th>
                                            </thead>
                                            <tbody>
                                                <tr class="text-c">
                                                <td><input type="text" class="td_input" autocomplete="off" name="aboveground_area"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" name="underground_area"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" name="civil_air_defense"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" name="layer_number"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" name="height"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" name="category"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" name="notes"></td>
                                                </tr>
                                            </tbody>
                                    </table>      
                                </div>
                            </div>
                        </div>
                        <div class="layui-collapse" lay-filter="test">
                            <div class="layui-colla-item" style="width: 100%;">
                                <h2 class="layui-colla-title">产值登记<i class="layui-icon layui-colla-icon"></i></h2>
                                <div class="layui-colla-content" style="overflow: hidden;overflow-x: scroll;">
                                    <table class="layui-table">
                                            <thead>
                                                <th>设计面积</th>
                                                <th>主体合同额</th>
                                                <th>难度系数</th>
                                                <th>阶段比例</th>

                                                <th>分配比例</th>
                                                <th>其他系数</th>
                                                <!-- <th>专业</th> -->
                                                <th>设计人员</th>

                                                <th>设计单价</th>
                                                <th>设计产值</th>
                                                <th>校对人员</th>
                                                <th>校对单价</th>

                                                <th>校对产值</th>
                                                <th>审核人员</th>
                                                <th>审核单价</th>
                                                <th>审核产值</th>

                                                <th>工种负责人</th>
                                                <th>工种单价</th>
                                                <th>工种产值</th>
                                                <th>工程人员</th>

                                                <th>工程单价</th>
                                                <th>工程产值</th>
                                                <th>其他费用</th>
                                                <th>小计</th>
                                                <th>部门</th>
                                                <th>备注</th>
                                            </thead>
                                            <tbody>
                                                <tr class="text-c">
                                                <td><input type="text" class="td_input" autocomplete="off" name="design_area"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" id="contract_amount" name="contract_amount"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" id="difficulty_system" name="difficulty_system"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" id="stage_proportions" name="stage_proportions"></td>

                                                <td><input type="text" class="td_input" autocomplete="off" id="distribution_ratio" name="distribution_ratio"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" id="residual_coefficient" name="residual_coefficient"></td>
                                                <!-- <td><input type="text" class="td_input" autocomplete="off" name="drawplan_major"></td> -->
                                                <td><input type="text" class="td_input" autocomplete="off" name="designer"></td>

                                                <td><input type="text" class="td_input" autocomplete="off" onchange="checkInData('design_value',this.value)" name="design_price"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" id="design_value" name="design_value"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" name="proofreader"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" onchange="checkInData('proofreading_value',this.value)" name="proofreading_price"></td>

                                                <td><input type="text" class="td_input" autocomplete="off" id="proofreading_value" name="proofreading_value"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" name="auditor"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" onchange="checkInData('audit_value',this.value)" name="audit_price"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" id="audit_value" name="audit_value"></td>

                                                <td><input type="text" class="td_input" autocomplete="off" name="work_boss"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" onchange="checkInData('work_value',this.value)" name="work_basenumber"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" id="work_value" name="work_value"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" name="project_boss"></td>

                                                <td><input type="text" class="td_input" autocomplete="off" onchange="checkInData('project_value',this.value)" name="project_basenumber"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" id="project_value" name="project_value"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" id="other_expenses" name="other_expenses"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" id="value_subtotal" name="value_subtotal" onclick="values()"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" name="department"></td>
                                                <td><input type="text" class="td_input" autocomplete="off" name="remarks"></td>
                                                </tr>
                                            </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item" style="padding-top: 2%;">
                          <button  class="layui-btn" lay-filter="add" lay-submit=''>提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layui/layui.date.js"></script>
<script>
    function values(){
        var design_value = document.getElementById("design_value").value;
        var proofreading_value = document.getElementById("proofreading_value").value;
        var audit_value = document.getElementById("audit_value").value;
        var work_value = document.getElementById("work_value").value;
        var project_value = document.getElementById("project_value").value;
        var other_expenses = document.getElementById("other_expenses").value;
        document.getElementById("value_subtotal").value = parseFloat(design_value)+parseFloat(proofreading_value)+parseFloat(audit_value)+parseFloat(work_value)+parseFloat(project_value)+parseFloat(other_expenses);
    }
    // 捕捉回车,阻止回车事件
    document.onkeydown = function(e){
        var ev = (typeof event!= 'undefined')?window.event:e;
        if(ev.keyCode == 13)
        {
            return false;
        }
    }
layui.use(['form','layer'], function(){
    $ = layui.jquery;
    var form = layui.form
    ,layer = layui.layer;

    //监听提交
    form.on('submit(add)',
    function() {
        var data = $('#newContract').serialize()+"&drawplan_number="+drawplan_number;
        $.ajax({
        //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "{:url('index/drawplanAdd')}",//url
            data: data,
            success: function (result) {
                if (result.status == 1) {
                    // alert("SUCCESS");
                    layer.alert("新增出图计划信息成功",
                    function() {
                        xadmin.close();
                        xadmin.father_reload();
                    });
                }
                else
                    alert(result.message);
            },
            error : function(result) {
                alert(result.message);
            }
        });
        return false;
    });
});

var data = [];
var drawplan_number =0;
function showPrice(value, name, price) {
    var sum = 0;
    document.getElementById(name).value = price;
    data[name] = parseFloat(value)*parseFloat(price);
    for(var item in data){
        sum += data[item];
        drawplan_number+=parseFloat(value);
    }
    document.getElementById('summary').innerText = sum;
}
function changePrice(price, name) {
    var sum = 0;
    document.getElementById(name).value = price;
    var value = $('input[name="'+name+'"]').val();
    data[name] = parseFloat(value)*parseFloat(price);
    for(var item in data){
        sum += data[item];
    }
    document.getElementById('summary').innerText = sum;
    localStorage.sum = sum;
}
function insertData(value){
    var project_agent =document.getElementById('project_agent');
    var project_contractor =document.getElementById('project_contractor');
    var project_name =document.getElementById('project_name');
    var drawplan_survey =document.getElementById('drawplan_survey');
    $.ajax({
            type: "POST",
            url: "{:url('index/insertData')}",
            data: "value="+value,
            success: function (result) {
                if (result.status == 1) {
                    project_agent.value = result.project_agent;
                    project_contractor.value = result.project_contractor;
                    project_name.value = result.project_name;
                }
            },
            error : function() {
                alert("异常！");
            }
        });
    $.ajax({
            type: "POST",
            url: "{:url('index/insertDrawPlanData')}",
            data: "value="+value,
            success: function (result) {
                if (result.status == 1) {
                    drawplan_survey.value = result.drawplan_survey;
                }
            },
            error : function() {
                alert("异常！");
            }
        });
    return false;
}
// 计算产值数据，并插入数据
function checkInData(id,value){
    // 获取合同额、系数
    var contract_amount = document.getElementById("contract_amount");
    var difficulty_system = document.getElementById("difficulty_system");
    var stage_proportions = document.getElementById("stage_proportions");
    var distribution_ratio = document.getElementById("distribution_ratio");
    var residual_coefficient = document.getElementById("residual_coefficient");

    var design_value = document.getElementById("design_value");
    var proofreading_value = document.getElementById("proofreading_value");
    var audit_value = document.getElementById("audit_value");
    var work_value = document.getElementById("work_value");
    var project_value = document.getElementById("project_value");

    var price = parseFloat(value);
    var  D1 = parseFloat(contract_amount.value);
    var  D2 = parseFloat(difficulty_system.value);
    var  D3 = parseFloat(stage_proportions.value);
    var  D4 = parseFloat(distribution_ratio.value);
    var  D5 = parseFloat(residual_coefficient.value);
    // 产值
    var total = (price*D1*D2*D3*D4*D5).toFixed(2);
    switch(id){
        case 'design_value':design_value.value = total;break;
        case 'proofreading_value':proofreading_value.value = total;break;
        case 'audit_value':audit_value.value = total;break;
        case 'work_value':work_value.value = total;break;
        case 'project_value':project_value.value = total;break;
        default:console.log("异常");
    }
}
// 获取员工姓名列表
function changeName(value,name) {
  if (value == '')
    return false;
     $.ajax({
            type: "post",
            dataType: "json",
            url: "{:url('index/getName')}",
            data:{'content':value},
            success: function(result){
              $('#'+name).html('');
              for (var i = 0; i < result.length; i++) {
                var aLi = document.createElement('li');
                aLi.innerText = result[i].staff_name;
                document.getElementById(name).appendChild(aLi);
                aLi.onmouseover = function() {
                  this.className = 'mouseOver';
                  $('input[name='+name+']').val(this.innerText);
                };
                aLi.onmouseout = function() {
                  this.className = 'mouseOut';
                };
              }
            },
            error: function(data) {
                alert("error:"+data.responseText);
             }
         });
  }
</script>
</body>
</html>