<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增设计单价</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/font.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/xadmin.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/newcontract.css" />
    <script type="text/javascript" src="__STATIC__/lib/layui/layui.js"></script>
    <script type="text/javascript" src="__STATIC__/js/xadmin.js"></script>
<body>
<div class="layui-card">
    <div class="layui-card-body" style="min-width: 797px;width: 84%; margin-left: 8%;">
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">新增设计单价<i class="layui-icon layui-colla-icon"></i></h2>
                <div class="layui-colla-content layui-show">
                    <form id="newLedger" class="layui-form" action="">

                       

                        <div class="layui-form-item">
                            <button class="layui-btn" lay-filter="add" lay-submit>新增设计单价</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layui/layui.date.js"></script>
<script>
layui.use(['form'], function(){
    $ = layui.jquery;
    var form = layui.form;
    form.on('submit',function(){
        submitLedger();
        return false;
    });
});
 

    function submitLedger(){
        var data = $('#newLedger').serialize();
// 分离 - 建设方，并转存
    var project_constructor = document.getElementsByClassName("project_constructor");
    var project_constructorContent = "";
    for (var i =0; i < project_constructor.length; i++) {
        if (project_constructor[i].value) {
            project_constructorContent = project_constructorContent+project_constructor[i].value +",";
        }
    }
    data = data + "&project_constructor="+project_constructorContent;  
// 分离 - 代建方，并转存
    var project_agent = document.getElementsByClassName("project_agent");
    var project_agentContent = "";
    for (var i =0; i < project_agent.length; i++) {
        if (project_agent[i].value) {
            project_agentContent = project_agentContent+project_agent[i].value +",";
        }
    }
    data = data + "&project_agent="+project_agentContent;    
// 分离 - 支付，并转存
        var payment = document.getElementsByClassName("payment");
        var paymentContent = "";
        for (var i =0; i < payment.length; i++) {
            if (i%4==0){
                paymentContent = paymentContent +"^"+payment[i].value;
            }
            else{
                paymentContent = paymentContent +"*"+payment[i].value;
            }
        }
        paymentContent = paymentContent.replace("^***","");
        data = data + "&payment="+paymentContent;        
// 分离 - 开票-到账，并转存
        var confirm = document.getElementsByClassName("confirm");
        var confirmContent = "";
        for (var i =0; i < confirm.length; i++) {
            if (i%4==0)
                confirmContent = confirmContent +"^"+confirm[i].value;
            else
                confirmContent = confirmContent +"*"+confirm[i].value;
        }
        confirmContent = confirmContent.replace("^***","");
        data = data + "&confirm="+confirmContent;
        console.log(data);

        $.ajax({
            //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "{:url('index/ledgerAdd')}",//url
                data: data,
                success: function (result) {
                    console.log(result);//打印服务端返回的数据(调试用)
                    if (result.status == 1) {
                        localStorage.removeItem("addanother");
                        alert("SUCCESS");
                    }
                    else
                        alert("新建台账失败!");
                },
                error : function() {
                    alert("异常！");
                }
            });
        return false;
    }
</script>
</body>
</html>