<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>修改密码</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
<link rel="stylesheet" href="__STATIC__/css/font.css">
<link rel="stylesheet" href="__STATIC__/css/xadmin.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/lib/layui/css/layui.css" />
<link rel="stylesheet" href="__STATIC__/lib/bootstrap/css/bootstrap.css" />
<script type="text/javascript" src="__STATIC__/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="__STATIC__/js/xadmin.js"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<style type="text/css">
	.layui-form-label {width: 100px;}
</style>
</head>
<body>
<div style="margin-top: 20px;">
	<div class="layui-form-item">
		<form class="layui-form" id="newPass">
			<div class="layui-form-item">
			  <label for="L_prepass" class="layui-form-label"><span class="x-red">*</span>原密码</label>
			  <div class="layui-input-inline">
			      <input type="password" id="L_prepass" name="prepass" required="" lay-verify="prepass" autocomplete="off" class="layui-input">
			  </div>
			</div>
			<div class="layui-form-item">
			  <label for="L_newpass" class="layui-form-label"><span class="x-red">*</span>新密码</label>
			  <div class="layui-input-inline">
			      <input type="password" id="L_newpass" name="newpass" required="" lay-verify="newpass" autocomplete="off" class="layui-input">
			  </div>
			  <div class="layui-form-mid layui-word-aux">6到16个字符</div>
			</div>
			<div class="layui-form-item">
			  <label for="L_repass" class="layui-form-label"><span class="x-red">*</span>确认密码</label>
			  <div class="layui-input-inline">
			      <input type="password" id="L_repass" name="repass" required="" lay-verify="repass" autocomplete="off" class="layui-input">
			  </div>
			</div>
		</form>
        <div class="layui-input-block">
                <button class="layui-btn" lay-filter="changePass" lay-submit="">确认修改</button>
            </div>
	</div>
	
</div>
<script>
var L_newpass = document.getElementById("L_newpass");
var L_repass = document.getElementById("L_repass");

layui.use(['form','layer'], function(){
    $ = layui.jquery;
    var form = layui.form
    ,layer = layui.layer;
    
    //自定义验证规则
    // form.verify({
    //     newpass: [/(.+){6,16}$/, '密码必须6到16位']
    // })
    // form.verify({
    // 	prepass: function(value) {
    //         if (value.length < 6) {
    //             return false;
    //         }
    //         else if (md5(prepass) != '{$content.password}') {
    //             alert('原密码输入错误！');
    //             return '原密码输入错误！';
    //         }
    //         return false;
    //     },
    //     newpass:function(){
    //     },
    //     repass: function(value) {
    //         if (newpass != repass) {
    //             alert('两次密码不一致');
    //         }
    //         return false;
    //     }
    // });
    
    //监听提交
    form.on("submit(changePass)",function(){
        if (L_newpass.value !=L_repass.value) {
            layer.msg('两次密码不一致!',{icon: 5,time:1000});
            return false;    
        }
        submit();
        return false;
    })
});
function submit() {
        $.ajax({
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "{:url('index/passwordChange')}",//url
            data: $('#newPass').serialize()+'&id='+{$content.id},
            success: function (result) {
                if (result.status == 1) {
                    layer.msg(result.message,{icon: 5,time:1000});
                    setTimeout(function () {
                        xadmin.close();
                        xadmin.father_reload();
                    }, 1000);
                }
                else
                    layer.msg(result.message,{icon: 5,time:1000});
            },
            error : function() {
                alert("异常！");
            }
        });
        return false;
    };

</script>
<script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();</script>

</body>
</html>