<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>人员检索</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/css/font.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/css/retrieval.css" />
</head>
<body>
	<div class="search">
		<div class="search-text">
			<input type="search" placeholder="输入员工姓名、工号">
		</div>
		<div class="search-btn">
			<a href=""><p>搜索</p></a>
		</div>
	</div>
	<div class="retrieval">
		<ul>
			<li>
				<div class="portrait">
					<img src="__STATIC__/images/portrait.png" alt="">
				</div>
				<div class="perinfo">
					<p class="name">姓名：陈某</p>
					<p class="number">工号：001</p>
					<p class="time">入职时间：2019.01</p>
					<p class="position">职位：经理</p>
				</div>
				<div class="viewbtn">
					<a href="">点击查看</a>
				</div>
			</li>
			<li>
				<div class="portrait">
					<img src="__STATIC__/images/portrait.png" alt="">
				</div>
				<div class="perinfo">
					<p class="name">姓名：陈某</p>
					<p class="number">工号：001</p>
					<p class="time">入职时间：2019.01</p>
					<p class="position">职位：经理</p>
				</div>
				<div class="viewbtn">
					<a href="">点击查看</a>
				</div>
			</li>
			<li>
				<div class="portrait">
					<img src="__STATIC__/images/portrait.png" alt="">
				</div>
				<div class="perinfo">
					<p class="name">姓名：陈某</p>
					<p class="number">工号：001</p>
					<p class="time">入职时间：2019.01</p>
					<p class="position">职位：经理</p>
				</div>
				<div class="viewbtn">
					<a href="">点击查看</a>
				</div>
			</li>
			<li>
				<div class="portrait">
					<img src="__STATIC__/images/portrait.png" alt="">
				</div>
				<div class="perinfo">
					<p class="name">姓名：陈某</p>
					<p class="number">工号：001</p>
					<p class="time">入职时间：2019.01</p>
					<p class="position">职位：经理</p>
				</div>
				<div class="viewbtn">
					<a href="">点击查看</a>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>