<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>招投标详情</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/details.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/font.css" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/xadmin.css" />
	<script type="text/javascript" src="__STATIC__/lib/layui/layui.js"></script>
	<script type="text/javascript" src="__STATIC__/js/xadmin.js"></script>
	<script type="text/javascript" src="__STATIC__/js/FileSave.js"></script>

</head>
<body>
<div class="card">	
	<div class="layui-col-md12">
        <div class="layui-card" >
        	<div class="back-pro" style="background-color: #fff;padding-bottom: 10px;"><a href="javascript:history.go(-1)">返回</a></div>
            <div class="layui-card-body ">
            	<!-- 1 -->
            	<div class="layui-collapse" lay-filter="test">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">基本信息<i class="layui-icon layui-colla-icon"></i></h2>
                        <div class="layui-colla-content">
		                    <table class="layui-table" id="table1">
		                        <tbody>
		                            <tr>
		                                <th>工程号</th>
		                                <td>&nbsp;{$BidList['toubiao_id']}</td>
		                                <td></td>
		                                </tr>
		                            <tr>
		                                <th>项目名称</th>
		                                <td>{$BidList['project_name']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','project_name','项目名称','{$BidList.project_name}','bidListEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                                <th>招标内容</th>
		                                <td>{$BidList['bid_content']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','bid_content','招标内容','{$BidList.bid_content}','bidListEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                                <th>标栏价</th>
		                                <td>{$BidList['biaolan_price']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','biaolan_price','标栏价','{$BidList.biaolan_price}','bidListEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                                <th>注意事项</th>
		                                <td>{$BidList['notice']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','notice','注意事项','{$BidList.notice}','bidListEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                      <!--       <tr>
		                            	<th>建设方</th>
		                                <td>{BidList['project_constructor']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{BidList.toubiao_id}','project_constructor','建设方','{BidList.project_constructor}','bidListEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr> -->
		                        <!--     <tr>
		                            	<th>代建方</th>
		                                <td>{BidList['project_agent']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{BidList.toubiao_id}','project_agent','代建方','{BidList.project_agent}','bidListEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr> -->
		                            <tr>
		                                <th>资格预审时间</th>
		                                <td>{$BidList['bid_pretrial_date']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','bid_pretrial_date','资格预审时间','{$BidList.bid_pretrial_date}','bidDateEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                                <th>是否通过预审</th>
		                                <td>{$BidList['bid_ispretrial']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','bid_ispretrial','是否通过预审','{$BidList.bid_ispretrial}','bidListEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                            	<th>资格后审时间</th>
		                                <td>{$BidList['houshen_date']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','houshen_date','资格后审时间','{$BidList.houshen_date}','bidDateEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                            	<th>答疑时间</th>
		                                <td>{$BidList['question_date']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','question_date','答疑时间','{$BidList.question_date}','bidDateEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                            	<th>交标时间</th>
		                                <td>{$BidList['bid_date']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','bid_date','交标时间','{$BidList.bid_date}','bidDateEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                            	<th>交标地点</th>
		                                <td>{$BidList['bid_space']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','bid_space','交标地点','{$BidList.bid_space}','bidListEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                            	<th>交标资料</th>
		                                <td>{$BidList['bid_document']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','bid_document','交标资料','{$BidList.bid_document}','bidListEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                            	<th>是否中标</th>
		                                <td>{$BidList['bid_isbid']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','bid_isbid','是否中标','{$BidList.bid_isbid}','bidListEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                            	<th>项目负责人</th>
		                                <td>{$BidList['bid_master']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','bid_master','项目负责人','{$BidList.bid_master}','bidListEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                            	<th>参与人员</th>
		                                <td>{$BidList['join_person']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','join_person','参与人员','{$BidList.join_person}','bidListEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                                <th>投标类型</th>
		                                <td>{$BidList['bid_type']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','bid_type','投标类型','{$BidList.bid_type}','bidListEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                                <th>地上面积</th>
		                                <td>{$BidList['toubiao_above']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','toubiao_above','地上面积','{$BidList.toubiao_above}','bidListEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                                <th>地下面积</th>
		                                <td>{$BidList['toubiao_under']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','toubiao_under','地下面积','{$BidList.toubiao_under}','bidListEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                                <th>投资额</th>
		                                <td>{$BidList['toubiao_amount']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','toubiao_amount','投资额','{$BidList.toubiao_amount}','bidListEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                                <th>地址</th>
		                                <td>{$BidList['toubiao_address']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','toubiao_address','地址','{$BidList.toubiao_address}','bidListEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                                <th>其他</th>
		                                <td>{$BidList['toubiao_other']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','toubiao_other','其他','{$BidList.toubiao_other}','bidListEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                                <th>发包人联系方式</th>
		                                <td>{$BidList['bid_contractor_mobile']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','bid_contractor_mobile','发包人联系方式','{$BidList.bid_contractor_mobile}','bidListEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                            	<th>招标代理人联系式方</th>
		                                <td>{$BidList['bid_agent_mobile']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','bid_agent_mobile','招标代理人联系式方','{$BidList.bid_agent_mobile}','bidListEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                            	<th>备注</th>
		                                <td>{$BidList['bid_remarks']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','bid_remarks','备注','{$BidList.bid_remarks}','bidListEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                        </tbody>
		                    </table>
		                    <button class="layui-btn" onclick="leadingOut1()" style="background-color: #319587;margin-right: 10px;">导出数据</button>
                        </div>
                    </div>
                </div>
				<!-- 2 -->
				<div class="layui-collapse" lay-filter="test">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">补偿费<i class="layui-icon layui-colla-icon"></i></h2>
                        <div class="layui-colla-content">
		                    <table class="layui-table" id="table2">
		                    	<tbody style="position: absolute;">
                            <tr style="visibility: hidden ;">
                                <th>投标号</th>
                                <td colspan="4">&nbsp;{$BidList["toubiao_id"]}</td>
                            </tr>
                            <tr style="visibility: hidden ;">
                                <th>工程名称</th>
                                <td colspan="4">{$BidList["project_name"]}</td>
                            </tr>
                        </tbody>
		                        <tbody>
		                            <tr>
		                            	<th>名次</th>
		                                <th>补偿费</th>
		                                <th>付款方</th>
		                                <th>开票时间</th>
		                                <th>开票金额</th>
		                                <th>到账时间</th>
		                                <th>到账金额</th>
		                                <th>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','','','','depositeAdd','新增')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </th>
		                            </tr>
		                            {volist name='deposite' id='vo'}
		                            <tr>
		                            	<td>{$vo['deposite_invoice_id']}</td>
		                                <td>{$vo['deposite_invoice_price']}</td>
		                                <td>{$vo['deposite_invoice_object']}</td>
		                                <td>{$vo['deposite_invoice_date']}</td>
		                                <td>{$vo['deposite_invoice_amount']}</td>
		                                <td>{$vo['deposite_payment_date']}</td>
		                                <td>{$vo['deposite_payment_amount']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$vo.id}','','','{$vo.deposite_invoice_id}*{$vo.deposite_invoice_price}*{$vo.deposite_invoice_object}*{$vo.deposite_invoice_date}*{$vo.deposite_invoice_amount}*{$vo.deposite_payment_date}*{$vo.deposite_payment_amount}','depositeEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            {/volist}
		                        </tbody>
		                    </table>
		                    <button class="layui-btn" onclick="leadingOut2()" style="background-color: #319587;margin-right: 10px;">导出数据</button>
                        </div>
                    </div>
                </div>
				<!-- 3 -->
				<div class="layui-collapse" lay-filter="test">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">保证金<i class="layui-icon layui-colla-icon"></i></h2>
                        <div class="layui-colla-content">
		                    <table class="layui-table" id="table3">
							<tbody style="position: absolute;">
                            <tr style="visibility: hidden ;">
                                <th>投标号</th>
                                <td colspan="4">&nbsp;{$BidList["toubiao_id"]}</td>
                            </tr>
                            <tr style="visibility: hidden ;">
                                <th>工程名称</th>
                                <td colspan="4">{$BidList["project_name"]}</td>
                            </tr>
                        </tbody>
		                        <tbody>
		                            <tr>
		                            	<th>开票时间</th>
		                                <th>开票金额</th>
		                                <th>到账时间</th>
		                                <th>到账金额</th>
		                                <th>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$BidList.toubiao_id}','','','','compensationAdd','新增')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </th>
		                            </tr>
		                            {volist name='Compensation' id='vo'}
		                            <tr>
		                                <td>{$vo['compensation_invoice_date']}</td>
		                                <td>{$vo['compensation_invoice_amount']}</td>
		                                <td>{$vo['compensation_payment_date']}</td>
		                                <td>{$vo['compensation_payment_amount']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$vo.id}','','','{$vo.compensation_invoice_date}*{$vo.compensation_invoice_amount}*{$vo.compensation_payment_date}*{$vo.compensation_payment_amount}','compensationEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            {/volist}
		                        </tbody>
		                    </table>
		                    <button class="layui-btn" onclick="leadingOut3()" style="background-color: #319587;margin-right: 10px;">导出数据</button>
                        </div>
                    </div>
                </div>
				<!-- 4 -->
				<div class="layui-collapse" lay-filter="test">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">进展阶段<i class="layui-icon layui-colla-icon"></i></h2>
                        <div class="layui-colla-content">
		                    <table class="layui-table" id="table4">
		                    	<tbody style="position: absolute;">
                            <tr style="visibility: hidden ;">
                                <th>投标号</th>
                                <td colspan="4">&nbsp;{$BidList["toubiao_id"]}</td>
                            </tr>
                            <tr style="visibility: hidden ;">
                                <th>工程名称</th>
                                <td colspan="4">{$BidList["project_name"]}</td>
                            </tr>
                        </tbody>
		                        <tbody>
		                            <tr>
		                                <th>预审完成</th>
		                                <td>{$phase['bidphase_phase1']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$phase.toubiao_id}','bidphase_phase1','预审完成','{$phase.bidphase_phase1}','bidPhaseEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                                <th>投标完成</th>
		                                <td>{$phase['bidphase_phase2']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$phase.toubiao_id}','bidphase_phase2','投标完成','{$phase.bidphase_phase2}','bidPhaseEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                                <th>公示完成</th>
		                                <td>{$phase['bidphase_phase3']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$phase.toubiao_id}','bidphase_phase3','公示完成','{$phase.bidphase_phase3}','bidPhaseEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                                <th>合同签订</th>
		                                <td>{$phase['bidphase_phase4']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$phase.toubiao_id}','bidphase_phase4','合同签订','{$phase.bidphase_phase4}','bidPhaseEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                                <th>已结算</th>
		                                <td>{$phase['bidphase_phase5']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$phase.toubiao_id}','bidphase_phase5','已结算','{$phase.bidphase_phase5}','bidPhaseEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                                <th>已归档</th>
		                                <td>{$phase['bidphase_phase6']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$phase.toubiao_id}','bidphase_phase6','已归档','{$phase.bidphase_phase6}','bidPhaseEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                            <tr>
		                                <th>其他</th>
		                                <td>{$phase['bidphase_phase7']}</td>
		                                <td>
		                                	{if condition="$limit eq 2"}
		                                	<a title="编辑" href="javascript:;" onclick="member_edit('{$phase.toubiao_id}','bidphase_phase7','其他','{$phase.bidphase_phase7}','bidPhaseEdit')"><i class="layui-icon" style="color: #2196f3;"></i></a>
		                                	{/if}
		                                </td>
		                            </tr>
		                        </tbody>
		                    </table>
		                    <button class="layui-btn" onclick="leadingOut4()" style="background-color: #319587;margin-right: 10px;">导出数据</button>
                        </div>
                    </div>
                </div>
                <div class="layui-card layui-input-block">
            		<button class="layui-btn" onclick="deleteThis()" style="background-color: #F4592E;">删除当前数据</button>
        		</div>
            </div>
    	</div>
	</div
></div>
<script type="text/javascript">
function member_edit(id, column, chinese, content, type,B_or_D) {
	content =content.replace(/%/g, '%25');
	var url = '{:url("index/detailEdit")}' +"?id="+id+"&column="+column+"&chinese="+chinese+"&content="+content+"&type="+type;
	console.log(content);
	// 补偿费、保证金新增
	if (B_or_D=="新增") {
		xadmin.open('新增', url);
	}
	else{
		xadmin.open('详情修改', url);
	}
	
}
function deleteThis() {
   console.log("项目id为："+{$BidList['toubiao_id']});
    layer.alert("您确定要删除当前招投标项目的所有数据吗？",
        function() {
            $.ajax({
            type: "post",
            url: "{:url('index/BidDel')}",
            data:"toubiao_id="+{$BidList['toubiao_id']},
            success: function (data) {
                  layer.alert("删除成功！",
                function() {
                    xadmin.close();
                    xadmin.father_reload();
                });
            },
            error: function(data) {
                alert("error:"+data.message);
             }
         });
            //当用户确认点击删除数据时
        
        });
}

var template =
    ' <style type="text/css">' +
    'table {' +
    '    font-family: verdana,arial,sans-serif;' +
    '    font-size:11px;' +
    '    color:#333333;' +
    '    border-width: 1px;' +
    '    border-color: #666666;' +
    '    border-collapse: collapse;' +
    '}' +
    'table th {' +
    '    padding: 8px;' +
    '    width: 200px;' +
    '  height: 30px;' +
    '    border-style: solid;' +
    '    border-color: #9a9a9a;' +
    '    color: #000000;' +
    '    background-color: #ffffff;' +
    '}' +
    'table td {' +
    '    width: 200px;' +
    '  height: 30px;' +
    '    padding: 8px;' +
    '    text-align: center;' +
    '    border-style: solid;' +
    '    border-color: #9a9a9a;' +
    '}' +
    ' ' +
    '</style>';
function tableToExcel(tableid, sheetName, template, fileName) {
    if (!tableid.nodeType) tableid = document.getElementById(tableid);
    var html = "<html xmlns:x=\"urn:schemas-microsoft-com:office:excel\">\n" +
        "    <head>\n" +
        "        <!--[if gte mso 9]><xml>\n" +
        "            <x:ExcelWorkbook>\n" +
        "                <x:ExcelWorksheets>\n" +
        "                    <x:ExcelWorksheet>\n" +
        "                        <x:Name>"+ sheetName +"</x:Name>\n" +
        "                        <x:WorksheetOptions>\n" +
        "                            <x:Print>\n" +
        "                                <x:ValidPrinterInfo />\n" +
        "                            </x:Print>\n" +
        "                        </x:WorksheetOptions>\n" +
        "                    </x:ExcelWorksheet>\n" +
        "                </x:ExcelWorksheets>\n" +
        "            </x:ExcelWorkbook>\n" +
        "        </xml>\n" +
        "        <![endif]-->\n" + template +
        "    </head>" +
        "<body>" + tableid.outerHTML +
        "</body></html>";
    var blob = new Blob([html], {type: "text/plain;charset=utf-8"});
    saveAs(blob, fileName);
}

function leadingOut1() {
  //询问框
  layer.confirm('只能导出支付进度的数据，请在导出前确认单页数据为“全部”,并已执行', {
    btn: ['取消导出','依旧导出'] //按钮
  }, function(){
    layer.msg('已取消', {icon: 1});
  }, function(){
    tableToExcel('table1','sheet1',template,'Data.xlsx');
  });
}

function leadingOut2() {
  //询问框
  layer.confirm('只能导出支付进度的数据，请在导出前确认单页数据为“全部”,并已执行', {
    btn: ['取消导出','依旧导出'] //按钮
  }, function(){
    layer.msg('已取消', {icon: 1});
  }, function(){
    tableToExcel('table2','sheet1',template,'Data.xlsx');
  });
}

function leadingOut3() {
  //询问框
  layer.confirm('只能导出支付进度的数据，请在导出前确认单页数据为“全部”,并已执行', {
    btn: ['取消导出','依旧导出'] //按钮
  }, function(){
    layer.msg('已取消', {icon: 1});
  }, function(){
    tableToExcel('table3','sheet1',template,'Data.xlsx');
  });
}

function leadingOut4() {
  //询问框
  layer.confirm('只能导出支付进度的数据，请在导出前确认单页数据为“全部”,并已执行', {
    btn: ['取消导出','依旧导出'] //按钮
  }, function(){
    layer.msg('已取消', {icon: 1});
  }, function(){
    tableToExcel('table4','sheet1',template,'Data.xlsx');
  });
}
</script>
</body>
</html>