<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>招投标项目</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/font.css" />
    <link rel="stylesheet" href="__STATIC__/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/project.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/common.css" />
    <link rel="stylesheet" href="__STATIC__/css/xadmin.css">
    <script type="text/javascript" src="__STATIC__/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC__/js/xadmin.js"></script>
</head>

<body>
    <div class="searchcard">
        <div class="layui-card">
            <div class="searchbar">
                <div class="search-text">
                    <form id="searchAll">
                        <input type="text" name="content" id="searchInput" class="search-area" placeholder="输入关键字搜索">
                    </form>
                    <p class="iconfont">&#xe6ac;</p>
                </div>
                <div class="search-button" onclick="searchSelectAll()">
                    <a>
                        <p>搜索</p>
                    </a>
                </div>
            </div>
            <div class="layui-card-body" style="min-width: 797px;width: 84%; margin-left: 8%;">
                <div class="layui-collapse">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title" onclick="pullDown()">条件筛选<i class="layui-icon layui-colla-icon"></i></h2>
                        <div class="layui-colla-content">
                            <form id="select" class="layui-form">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">类型</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="type" value="开票未收款" title="已开票未收款" checked="">
                                        <input type="radio" name="type" value="未开票未收款" title="未开票未收款">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">进展阶段</label>
                                    <div class="layui-input-inline" style="width: 40%;">
                                        <select name="bid_progress">
                                            <option value="预审完成">预审完成</option>
                                            <option value="投标完成">投标完成</option>
                                            <option value="公示完成">公示完成</option>
                                            <option value="合同签订">合同签订</option>
                                            <option value="已结算">已结算</option>
                                            <option value="其他">其他</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">投标类型</label>
                                    <div class="layui-input-inline" style="width: 40%;">
                                        <select name="bid_type">
                                            <option value="总院">总院</option>
                                            <option value="方案所">方案所</option>
                                            <option value="景观所">景观所</option>
                                            <option value="杭州分院">杭州分院</option>
                                            <option value="上海分院">上海分院</option>
                                            <option value="工业化所">工业化所</option>
                                            <option value="挂靠">挂靠</option>
                                            <option value="财务">财务</option>
                                            <option value="分包">分包</option>
                                            <option value="备案">备案</option>
                                            <option value="零星">零星</option>
                                            <option value="其他">其他</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">资格预审时间</label>
                                    <div class="layui-input-inline" style="width: 40%;">
                                        <div class="layui-inline layui-show-xs-block" style="display: flex;flex-direction: row;">
                                            <input class="layui-input" autocomplete="off" placeholder="开始日" name="start1" id="date1">&nbsp;~&nbsp;
                                            <input class="layui-input" autocomplete="off" placeholder="结束日" name="end1" id="date2">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">招标时间</label>
                                    <div class="layui-input-inline" style="width: 40%;">
                                        <div class="layui-inline layui-show-xs-block" style="display: flex;flex-direction: row;">
                                            <input class="layui-input" autocomplete="off" placeholder="开始日" name="start2" id="date3">&nbsp;~&nbsp;
                                            <input class="layui-input" autocomplete="off" placeholder="结束日" name="end2" id="date4">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="layui-input-block">
                                <button class="layui-btn" onclick="searchSelect()">搜索</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-card-body" style="min-width: 797px;width: 84%; margin-left: 8%;">
                <div style="display: flex;flex-direction: row;align-items: center;margin-top: 20px;">
                    <span>单页数据：</span>
                    <div class="select">
                        <select id="pagenumber" name="pagenumber" class="layui-anim layui-anim-upbit">
                            <!-- <option value="{$pagenumber}">{$pagenumber}</option> -->
                            <!-- 删除@jjh -->
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <div><button class="layui-btn" onclick="searchSelectAll()" style="background-color: #319587;margin-left: 10px;">执行</button></div>
                </div>
            </div>
            <div class="searchtable">
                <button class="layui-btn" onclick="xadmin.open('新增投标','./zhaotoubaioNew.html',800,600)"><i class="layui-icon"></i>新增投标</button>
                <div class="layui-card-body  layui-table-main">
                    <div class="cl pd-5 bg-1 bk-gray mt-20">
                        <span class="r">共有数据：<strong>{$count}</strong> 条</span>
                    </div>
                    <table class="layui-table layui-form" id="table">
                        <thead>
                            <th>项目名称</th>
                            <th>招标内容</th>
                            <th>保证金</th>
                            <th>补偿费</th>
                            <th>进展阶段</th>
                            <th>投标类型</th>
                            <th>资格预审时间</th>
                            <th>招标时间</th>
                            <!-- <th>开票金额</th> -->
                            <!-- <th>到账日期</th> -->
                            <!-- <th>到账金额</th> -->
                            <th>详情</th>
                        </thead>
                        <tbody>
                            {volist name='orderList' id='vo'}
                            <tr class="text-c">
                                <td>{$vo.toubiao_id}</td>
                                <td>{$vo.bid_content}</td>
                                <td>{$vo.bid_deposite}</td>
                                <td>{$vo.bid_compensation}</td>
                                <td>{$vo.bid_progress}</td>
                                <td>{$vo.bid_type}</td>
                                <td>{$vo.bid_pretrial_date}</td>
                                <td>{$vo.bid_date}</td>
                                <!-- 信息缺漏，需更改为$vo. -->
                                <!--   <td>{$.invoice_date}</td>
            <td>{$.invoice_amount}</td>
            <td>{$.payment_date}</td>
            <td>{$.payment_amount}</td> -->
                                <td><a href="" onclick="detail_show(this,'{:url("index/zhaotoubiao_details",["id"=>$vo["toubiao_id"]])}')">点击详情 </a> </td> </tr> {/volist} </tbody> </table> <!-- 显示分页按钮,事先要将bootstrap导入css和js -->
                                        <div class="container" style="width: 100%;height:200px;background-color: #fff;">
                                            <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-8" style="text-align: center;">{$orderList->render()}</div>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="__STATIC__/js/domain.js"></script>
    <script>
    layui.use(['form']);
    var flag = true;

    function pullDown() {
        flag = !flag;
        if (flag) {
            var show = document.getElementsByClassName("layui-colla-content");
            show[0].className = "layui-colla-content layui-show";
        }
        if (!flag) {
            var show = document.getElementsByClassName("layui-colla-content layui-show");
            show[0].className = "layui-colla-content";
        }
    }

    function searchSelect() {
        var options = $("#pagenumber option:selected");
        $.ajax({
            type: "post",
            // dataType: "json",
            url: "{:url('index/BidSelect')}",
            data: $('#select').serialize() + "&pagenumber=" + options.val(),
            success: function(result) {
                document.body.innerHTML = result;
            },
            error: function(data) {
                alert("error:" + data.responseText);
            }

        });

    }

    function searchSelectAll() {
        window.localStorage.content = document.getElementById("searchInput").value;
        var options = $("#pagenumber option:selected");
        // console.log($('#searchAll').serialize());
        $.ajax({
            type: "post",
            url: "{:url('index/BidSelectAll')}",
            data: $('#searchAll').serialize() + "&pagenumber=" + options.val(),
            success: function(result) {
                document.body.innerHTML = result;
                document.getElementById("searchInput").value = localStorage.content;
                localStorage.removeItem('content');
            },
            error: function(data) {
                alert("error:" + data.responseText);
            }

        });

    }
    // 单页显示数据条数回复
    // document.getElementById("pagenumber").value = {drawplanList['pagenumber']};
    </script>
    <!-- 新增@jh -->
    <script type="text/javascript" src="__STATIC__/lib/layui/layui.date.js"></script>
</body>

</html>