<!DOCTYPE html>
<html class="x-admin-sm">
<head>
	<meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/font.css" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/project.css" />
<!--	<link rel="stylesheet" href="__STATIC__/lib/bootstrap/css/bootstrap.min.css" />-->
	<script type="text/javascript" src="__STATIC__/lib/layui/layui.js"></script>
	<script type="text/javascript" src="__STATIC__/js/xadmin.js"></script>
</head>
<body>
	<div class="searchcard">
		<div class="layui-card">
			<div class="searchbar">
				<div class="search-text">
					<input type="text" name="search" class="search-area" placeholder="输入关键字搜索">
					<p class="iconfont">&#xe6ac;</p>
				</div>
				<div class="search-button">
					<a href=""><p>搜索</p></a>
				</div>
			</div>
	        <div class="layui-card-body" style="min-width: 797px;width: 84%; margin-left: 8%;">
	            <div class="layui-collapse">
	                <div class="layui-colla-item">
	                <h2 class="layui-colla-title">条件筛选<i class="layui-icon layui-colla-icon"></i></h2>
	                <div class="layui-colla-content">
	                	<form class="layui-form" action="">
	                      <div class="layui-form-item">
	                        <div class="layui-inline" style="width: 100%;">
	                          <label class="layui-form-label">工程号</label>
	                          <div class="layui-input-inline" style="width: 40%;">
	                            <input type="text" name="price_min" autocomplete="off" class="layui-input">
	                          </div>
	                        </div>
	                      </div>
	                      <div class="layui-form-item">
	                        <div class="layui-inline" style="width: 100%;">
	                          <label class="layui-form-label">项目名称</label>
	                          <div class="layui-input-inline" style="width: 40%;">
	                            <input type="text" name="price_min" autocomplete="off" class="layui-input">
	                          </div>
	                        </div>
	                      </div>
	                      <div class="layui-form-item">
	                        <div class="layui-inline" style="width: 100%;">
	                          <label class="layui-form-label">发包人</label>
	                          <div class="layui-input-inline" style="width: 40%;">
	                            <input type="text" name="price_min" autocomplete="off" class="layui-input">
	                          </div>
	                        </div>
	                      </div>
	                      <div class="layui-form-item">
	                        <div class="layui-inline" style="width: 100%;">
	                          <label class="layui-form-label">代建方</label>
	                          <div class="layui-input-inline" style="width: 40%;">
	                            <input type="text" name="price_min" autocomplete="off" class="layui-input">
	                          </div>
	                        </div>
	                      </div>
	                      <div class="layui-form-item">
	                        <div class="layui-inline" style="width: 100%;">
	                          <label class="layui-form-label">项目负责人</label>
	                          <div class="layui-input-inline" style="width: 40%;">
	                            <input type="text" name="price_min" autocomplete="off" class="layui-input">
	                          </div>
	                        </div>
	                      </div>
	                	</form>
	                <div class="layui-input-block">
                    	<button class="layui-btn">搜索</button>
                    </div>
	                </div>
	              </div>
	            </div>
	        </div>
			<div class="searchtable">
				<div class="layui-card-body layui-table-body layui-table-main">
					<table class="layui-table layui-form" id="table">
						<!--<thead>-->
							<!--<th>工程号</th>-->
							<!--<th>项目名称</th>-->
							<!--<th>发包人</th>-->
							<!--<th>代建方</th>-->
							<!--<th>项目负责人</th>-->
							<!--<th>详情</th>-->
						<!--</thead>-->
						<!--<tbody id="tbody">-->
						<!--</tbody>-->
					<!--</table>-->
					<!--&lt;!&ndash;显示分页按钮,事先要将bootstrap导入css和js&ndash;&gt;-->
<!--&lt;!&ndash;					<div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;						<div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="col-md-4"></div>&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="col-md-4">$list->render()</div></div>&ndash;&gt;-->
<!--&lt;!&ndash;						<div class="col-md-4"></div>&ndash;&gt;-->
<!--&lt;!&ndash;					</div>&ndash;&gt;-->
				<!--</div>-->
				<!--<div class="layui-card-body ">-->
					<!--<div class="page" id="pagination">-->
				        <!--<a id="prev">&lt;&lt;</a>-->
				        <!--<span id="pages"></span>-->
				        <!--<a id="next">&gt;&gt;</a>-->
				    <!--</div>-->
	            <!--</div>-->

					<thead>
					<tr class="text-c">
						{volist name='note' id='voi'}
						<th>{$voi}</th>
						{/volist}
						<th></th>
					</tr>
					</thead>
					<tbody>
					{volist name='orderList' id='vo'}
					<tr class="text-c">
						{volist name='order_column' id='voi'}
						<td>{$vo[$voi]}</td>
						{/volist}
					</tr>
					{/volist}
					</tbody>
				</table>
			</div>
			</div>
			</div>
		</div>
	</div>

<script>
	var data = [{
		"工程号":"20181024",
		"项目名称":"温州市***工程项目",
		"发包人":"陈*",
		"代建方":"温州市**建筑公司",
		"项目负责人":"王*"
	},{
		"工程号":"20181025",
		"项目名称":"温州市***工程项目",
		"发包人":"陈*",
		"代建方":"温州市**建筑公司",
		"项目负责人":"王*"
	},{
		"工程号":"20181026",
		"项目名称":"温州市***工程项目",
		"发包人":"陈*",
		"代建方":"温州市**建筑公司",
		"项目负责人":"王*"
	},{
		"工程号":"20181027",
		"项目名称":"温州市***工程项目",
		"发包人":"陈*",
		"代建方":"温州市**建筑公司",
		"项目负责人":"王*"
	},{
		"工程号":"20181028",
		"项目名称":"温州市***工程项目",
		"发包人":"陈*",
		"代建方":"温州市**建筑公司",
		"项目负责人":"王*"
	},{
		"工程号":"20181029",
		"项目名称":"温州市***工程项目",
		"发包人":"陈*",
		"代建方":"温州市**建筑公司",
		"项目负责人":"王*"
	},{
		"工程号":"20181030",
		"项目名称":"温州市***工程项目",
		"发包人":"陈*",
		"代建方":"温州市**建筑公司",
		"项目负责人":"王*"
	}];
	var tbody = document.getElementById('tbody');
	var tr = document.getElementsByTagName('tr');
    var pages = document.getElementById('pages');
    const prev = document.getElementById('prev');
    const next = document.getElementById('next');
    var current = 1;
    var itemsnum = 5;
    var nownum;
    function render() {
	    if (data.length - itemsnum * (current - 1) >= 5) {
            nownum = 5;
        } else {
            nownum = data.length - itemsnum * (current - 1);
        }
	    var index = itemsnum * (current - 1);
	    tbody.innerHTML='';     
		for (var i = 0; i < nownum; i++,index++) {
			tbody.innerHTML += '<tr><td>'+data[index].工程号+'</td><td>'+data[index].项目名称+'</td><td>'+data[index].发包人+'</td><td>'+data[index].代建方+'</td><td>'+data[index].项目负责人+'</td><td><a href="details.html">点击详情</a></td></tr>';
		}
	}
	render();
    function creatPages() {
        pages.innerHTML = '';
        for (let i = 1; i < Math.ceil(data.length / 5)+1; i++) {
        	// pages.innerHTML += '<a data-page='+i+' class="current">'+i+'</a>';
            pages.innerHTML += "<a data-page="+i+">"+i+"</a>";
        }
    }
    creatPages();
    layui.use(['laydate', 'form'],
	    function() {
	        var laydate = layui.laydate;

	        //执行一个laydate实例
	        laydate.render({
	            elem: '#start' //指定元素
	        });

	        //执行一个laydate实例
	        laydate.render({
	            elem: '#end' //指定元素
	        });
	    });
    //绑定向前翻页事件
    prev.onclick = function () {
        if (current > 1) {
            current--;
            render();
        } else {
            alert('当前为第一页！')
        }
    }

    //绑定向后翻页事件
    next.onclick = function () {
        if (current < Math.ceil(data.length / 5)) {
            current++;
            render();
        } else {
            alert('当前为最后一页！')
        }
    }

    //绑定点击页码渲染相应的数据事件
    pages.addEventListener('click', function (e) {
        current = e.target.getAttribute('data-page');
        render();
    })
</script>
<script>
	var showMenu = 1;
	function searchscreen() {
	  if (showMenu == 1) {
	    document.getElementById('smenu').style.display="inline-block";
	    showMenu = -1;
	  } else {
	    document.getElementById('smenu').style.display="none";
	    showMenu = 1;
	  } 
	}
</script>
</body>
</html>