{extend name='public/base' /}
{block name='seo' /}
<title>数据统计</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">

<script src="__STATIC__/js/jquery-1.11.1.min.js"></script>
<script src="__STATIC__/static/echarts.min.js"></script>
<script src="__STATIC__/js/china.js"></script>
<script src="__STATIC__/js/zhejiang.js"></script>
<script src="__STATIC__/js/anhui.js"></script>
<script src="__STATIC__/js/aomen.js"></script>
<script src="__STATIC__/js/beijing.js"></script>
<script src="__STATIC__/js/chongqing.js"></script>
<script src="__STATIC__/js/fujian.js"></script>
<script src="__STATIC__/js/gansu.js"></script>
<script src="__STATIC__/js/guangdong.js"></script>
<script src="__STATIC__/js/guangxi.js"></script>
<script src="__STATIC__/js/guizhou.js"></script>
<script src="__STATIC__/js/hainan.js"></script>
<script src="__STATIC__/js/hebei.js"></script>
<script src="__STATIC__/js/heilongjiang.js"></script>
<script src="__STATIC__/js/henan.js"></script>
<script src="__STATIC__/js/hubei.js"></script>
<script src="__STATIC__/js/hunan.js"></script>
<script src="__STATIC__/js/jiangxi.js"></script>
<script src="__STATIC__/js/jilin.js"></script>
<script src="__STATIC__/js/liaoning.js"></script>
<script src="__STATIC__/js/nanjing.js"></script>
<script src="__STATIC__/js/neimenggu.js"></script>
<script src="__STATIC__/js/ningxia.js"></script>
<script src="__STATIC__/js/qinghai.js"></script>
<script src="__STATIC__/js/shandong.js"></script>
<script src="__STATIC__/js/shanghai.js"></script>
<script src="__STATIC__/js/shanxi.js"></script>
<script src="__STATIC__/js/sichaun.js"></script>
<script src="__STATIC__/js/tianjin.js"></script>
<script src="__STATIC__/js/xianggang.js"></script>
<script src="__STATIC__/js/xinjiang.js"></script>
<script src="__STATIC__/js/xizang.js"></script>
<script src="__STATIC__/js/yunnan.js"></script>

{/block}

{block name='content' /}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span> 数据统计 <span class="c-gray en">&gt;</span> 用户使用地点
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div id="container" style="min-width:750px;height:500px"></div>
        </article>
    </div>

    <script>
        var mycharts = echarts.init(document.getElementById('container'));

        var geograde;
        $.ajax({
            type : "post",
            async : false, //同步执行
            url : "{:url('index/getPosition2')}",
            data : {},
            dataType : "json", //返回数据形式为json
            success : function(result) {
                // categories=result.name;//定义两个数组
                // data=result.num;
                geoCoordMap=result;
                console.log(geoCoordMap);
            }
        });

        $.ajax({
            type : "post",
            async : false, //同步执行
            url : "{:url('index/getHead')}",
            data : {},
            dataType : "json", //返回数据形式为json
            success : function(result) {
                // categories=result.name;//定义两个数组
                // data=result.num;
                geograde=result;
                // console.log(result);
            }
        });

        //拼接对象数组
        var convertData = function (data) {
            var res = [];
            for (var i = 0; i < data.length; i++) {
                var geoCoord = geoCoordMap[data[i].name];//获取坐标
                if (geoCoord) {
                    res.push({
                        name: data[i].name,
                        value: geoCoord.concat(data[i].value)
                    });
                }
            }
            return res;
        };

        option = {
            backgroundColor: '#404a59',//整个画布背景
            //标题组件
            title: {
                text: '用户分布图',
                left: 'center',
                textStyle: {
                    color: '#fff'
                }
            },
            // //提示框组件
            // tooltip: {
            //     trigger: 'item',
            //     "confine": true,
            //     "formatter": (p)=>{
            //         let dataCon = p.data;
            //         txtCon =dataCon.value[2];
            //         return txtCon;
            //     }
            // },

            //地图区域样式
            geo: {
                map: 'china',
                label: {
                    emphasis: {
                        show: true
                    }
                },
                itemStyle: {
                    //未激活样式
                    normal: {
                        areaColor: '#323c48',
                        borderColor: '#6ef3ff'
                    },
                    //激活样式
                    emphasis: {
                        areaColor: '#2a333d'
                    }
                }
            },
            //数据
            series: [
                {
                    name: 'spots',
                    type: 'scatter',
                    coordinateSystem: 'geo',
                    selectedMode: 'single',  //添加点击事件
                    data: convertData(geograde),
                    symbolSize: 5,
                    //直接在点上显示标签
                    label: {
                        show:false,
                        // normal: {
                        //     show: true
                        // },
                        emphasis: {
                            show: false
                        },
                        formatter:'{b}',
                        offset:[15,-15],//文字的相对偏移
                    },
                    //标签的样式
                    itemStyle: {
                        emphasis: {
                            borderColor: '#fff',
                            borderWidth:1,
                        }
                    }
                }
            ]
        }
        mycharts.setOption(option);

        //定义全国省份的数组
        // var provinces = ['shanghai', 'hebei','shanxi','neimenggu','liaoning','jilin','heilongjiang','jiangsu','zhejiang','anhui','fujian','jiangxi','shandong','henan','hubei','hunan','guangdong','guangxi','hainan','sichuan','guizhou','yunnan','xizang','shanxi1','gansu','qinghai','ningxia','xinjiang', 'beijing', 'tianjin', 'chongqing', 'xianggang', 'aomen', 'taiwan'];

        var provincesText = ['上海', '河北', '山西', '内蒙古', '辽宁', '吉林','黑龙江',  '江苏', '浙江', '安徽', '福建', '江西', '山东','河南', '湖北', '湖南', '广东', '广西', '海南', '四川', '贵州', '云南', '西藏', '陕西', '甘肃', '青海', '宁夏', '新疆', '北京', '天津', '重庆', '香港', '澳门', '台湾'];

        mycharts.on('click', function (param) {
            // alert(param.name);
            //遍历取到provincesText 中的下标  去拿到对应的省js
            for(var  i= 0 ; i < provincesText.length ; i++ ){
                if(param.name == provincesText[i]){
                    //显示对应省份的方法
                    showProvince(/*provinces[i],*/provincesText[i]);
                    break ;
                }
            }
        });
        //展示对应的省
        function  showProvince(pName){
            var mycharts = echarts.init(document.getElementById('container'));

            var geograde;
            $.ajax({
                type : "post",
                async : false, //同步执行
                url : "{:url('index/getPosition2')}",
                data : {},
                dataType : "json", //返回数据形式为json
                success : function(result) {
                    // categories=result.name;//定义两个数组
                    // data=result.num;
                    geoCoordMap=result;
                    console.log(geoCoordMap);
                }
            });

            $.ajax({
                type : "post",
                async : false, //同步执行
                url : "{:url('index/getHead')}",
                data : {},
                dataType : "json", //返回数据形式为json
                success : function(result) {
                    // categories=result.name;//定义两个数组
                    // data=result.num;
                    geograde=result;
                    console.log(result);
                }
            });

            //拼接对象数组
            var convertData = function (data) {
                var res = [];
                for (var i = 0; i < data.length; i++) {
                    var geoCoord = geoCoordMap[data[i].name];//获取坐标
                    if (geoCoord) {
                        res.push({
                            name: data[i].name,
                            value: geoCoord.concat(data[i].value)
                        });
                    }
                }
                return res;
            };
            option = {
                backgroundColor: '#404a59',//整个画布背景
                //标题组件
                title: {
                    text: '景点分布图',
                    left: 'center',
                    textStyle: {
                        color: '#fff'
                    }
                },
                //提示框组件
                tooltip: {
                    trigger: 'item',
                    "confine": true,
                    "formatter": (p)=>{
                        let dataCon = p.data;
                        txtCon =dataCon.value[2];
                        return txtCon;
                    }
                },
                // //左下lengend
                // visualMap: {
                //     min: 0,//最小
                //     max: 5,//最大
                //     splitNumber: 5,//共分5层
                //     color: ['#ffecb4','#ff6d35','#00ff28'],//颜色从高到低依次渐变
                //     textStyle: {
                //         color: '#fff'
                //     }
                // },

                //地图区域样式
                geo: {
                    map: pName,
                    label: {
                        emphasis: {
                            show: true
                        }
                    },
                    itemStyle: {
                        //未激活样式
                        normal: {
                            areaColor: '#323c48',
                            borderColor: '#6ef3ff'
                        },
                        //激活样式
                        emphasis: {
                            areaColor: '#2a333d'
                        }
                    }
                },
                //数据
                series: [
                    {
                        name: 'spots',
                        type: 'scatter',
                        coordinateSystem: 'geo',
                        selectedMode: 'single',  //添加点击事件
                        data: convertData(geograde),
                        symbolSize: 5,
                        //直接在点上显示标签
                        label: {
                            show:false,
                            // normal: {
                            //     show: true
                            // },
                            emphasis: {
                                show: false
                            },
                            formatter:'{b}',
                            offset:[15,-15],//文字的相对偏移
                        },
                        //标签的样式
                        itemStyle: {
                            emphasis: {
                                borderColor: '#fff',
                                borderWidth:1,
                            }
                        }
                    }
                ]
            }
            mycharts.setOption(option);

        }


    </script>

</section>
{/block}

<!--请在下方写此页面业务相关的脚本-->

<!--/请在上方写此页面业务相关的脚本-->

</body>
</html>