{extend name='public/base'/}
{block name='header'}{/block} {//关掉头部}
{block name='menu'}{/block} {//关掉菜单}
{block name='seo'}
<title>{$title|default="标题"}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}

{block name='content'}
<article class="cl pd-20">

    <form action="" method="post" class="form form-horizontal" id="form-admin-add">

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>商品名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="name" class="input-text" autocomplete="off" value="{$mall_info.mall_name}"  placeholder="" id="name" name="name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>商品图片：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" autocomplete="off" value="{$mall_info.mall_picture}"  placeholder="" id="picture" name="picture">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>商品文字介绍：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" autocomplete="off" value="{$mall_info.mall_word}"  placeholder="" id="word" name="word">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>商品剩余数量：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" autocomplete="off" value="{$mall_info.mall_residualQuantity}"  placeholder="" id="residualQuantity" name="residualQuantity">
            </div>
        </div>


        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>所需积分：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" autocomplete="off" value="{$mall_info.mall_necessaryIntegral}"  placeholder="" id="necessaryIntegral" name="necessaryIntegral">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>所需现金：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" autocomplete="off" value="{$mall_info.mall_necessaryMoney}"  placeholder="" id="necessaryMoney" name="necessaryMoney">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>商品类别：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" autocomplete="off" value="{$mall_info.mall_type}"  placeholder="" id="type" name="type">
            </div>
        </div>

        <!--将当前记录的id做为隐藏域发送到服务器-->
        <input type="hidden" value="{$mall_info.mall_id}" name="id">

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius disabled" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" id="submit" >
            </div>
        </div>
    </form>


</article>
{/block}

{block name='js'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>




<script>

    $(function(){

        $("form").children().change(function(){
            $("#submit").removeClass('disabled');
        });

        $("#submit").on("click", function(event){
            $.ajax({
                type: "POST",
                url: "{:url('index/editMall')}",
                data: $("form").serialize(),
                dataType: "json",
                success: function(data){
                    if (data.status == 1) {
                        sessionStorage.upDateFlag = 1;
                        alert(data.message);
                    } else {
                        sessionStorage.upDateFlag = 1;
                        alert(data.message);
                    }
                }
            });

        })
    })
</script>
{/block}

</body>
</html>