{extend name='public/base' /}

{block name='seo'}
<title>景点管理</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
{/block}


{block name='content'}

<section class="Hui-article-box">
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i>
        首页 <span class="c-gray en">&gt;</span>
        景点管理 <span class="c-gray en">&gt;</span>
        景点列表<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">

            <div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
					<a style="margin-bottom: 20px;" href="javascript:;" onclick="member_add('添加景点','{:url("index/spotsAdd")}','','510')" class="btn btn-primary radius">
						<i class="Hui-iconfont">&#xe600;</i>
						添加景点
                    </a>
                    <a>
						<form action="{:url('index/spotsList')}" method="post" class="form form-horizontal" id="form-record-select">
							景点名称: <input type="text" class="input-text"  value=""  placeholder="" id="name" name="name" style="width: 150px;">
							<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 搜索</button>
                        </form>
                </a>
				</span>
                <span class="r">共有数据：<strong>{$count}</strong> 条</span>
            </div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                    <tr class="text-c">
                        <th width="80">景点编号</th>
                        <th width="50">景点名称</th>
                        <th width="50">景点类型</th>
                        <th width="50">景点评分</th>
                        <th width="50">所属省份</th>
                        <th width="50">所属市</th>
                        <th width="70">所属县(区)</th>
                        <th width="100">详细地址</th>
                        <th width="50">是否收费</th>
                        <th width="100">介绍页图</th>
                        <th width="100">介绍文字</th>
                        <th width="100">经度</th>
                        <th width="100">纬度</th>
                        <th width="100">对应数据表</th>
                        <th width="100">安卓大富翁</th>
                        <th width="100">ios大富翁</th>
                        <th width="100">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name='spotsList' id='vo'}
                    <tr class="text-c">

                        <td>{$vo.spots_number}</td>
                        <td>{$vo.spots_name}</td>
                        <td>{$vo.spots_type}</td>
                        <td>{$vo.spots_grade}</td>
                        <td>{$vo.spots_province}</td>
                        <td>{$vo.spots_city}</td>
                        <td>{$vo.spots_county}</td>
                        <td>{$vo.spots_address}</td>
                        <td class="td-charge">
                            <!--根据当前用户表中status值来确定显示内容-->
                            {if condition="$vo.spots_charge eq 0"}
                            <span class="label label-success radius">免费</span>
                            {else /}
                            <span class="label radius">收费</span>
                            {/if}
                        </td>
                        <td>{$vo.spots_picture}</td>
                        <td>{$vo.spots_word}</td>
                        <td>{$vo.spots_longitude}</td>
                        <td>{$vo.spots_latitude}</td>
                        <td>{$vo.spots_form}</td>
                        <td>{$vo.spots_androidUrl}</td>
                        <td>{$vo.spots_iosUrl}</td>
                        <td class="td-manage">
                            <a title="编辑" href="javascript:;" onclick="member_edit('景点编辑','{:url("index/spotsEdit",["number"=>$vo["spots_number"]])}','','510')" class="ml-5" style="text-decoration:none">
                            <i class="Hui-iconfont">&#xe6df;</i>
                            </a>
                            <a title="删除" href="javascript:;" onclick="member_del(this,'{:url("index/deleteSpots",["number"=>$vo["spots_number"]])}','','510')"  class="ml-5" style="text-decoration:none">
                            <i class="Hui-iconfont">&#xe6e2;</i>
                            </a>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
            <!--显示分页按钮,事先要将bootstrap导入css和js-->
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">{$spotsList->render()}</div></div>
                <div class="col-md-4"></div>
            </div>
        </article>
    </div>
</section>

{/block}

{block name='js'}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    var name=$('#name').val();
    Ajaxpage();

    function Ajaxpage(curr){
        $.getJSON('{:url("index/spotsList")}', {
        }, function(data){      //data是后台返回过来的JSON数据
            $(".spiner-example").css('display','none'); //数据加载完关闭动画
            if(data==''){
                $("#list-content").html('<td colspan="20" style="padding-top:10px;padding-bottom:10px;font-size:16px;text-align:center">暂无数据</td>');
            }
        });
    }

    $(function(){

        $('.table-sort tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });

    //自动刷新主界面
    requestAnimationFrame(render);
    function render() {
        if(sessionStorage.upDateFlag==1)
        {
            window.location.reload();
            sessionStorage.upDateFlag = 0;
        }
        requestAnimationFrame(render);
    }

    /*用户-添加*/
    function member_add(title,url,w,h){
        layer_show(title,url,w,h);
    }

    /*用户-编辑*/
    function member_edit(title,url,w,h){
        $.get(url); //执行控制器中的编辑操作
        layer_show(title,url,w,h);
    }

    /*用户-删除*/
    function member_del(obj,url) {
        //请求服务器脚本处理删除
        $.get(url); //执行控制器中的删除操作
        layer.confirm('确认要删除吗？', function (index) {
            $(obj).parents("tr").remove();
            sessionStorage.upDateFlag = 1;
            layer.msg('已删除!', {icon: 1, time: 1000});
        });

    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
</body>
</html>


